<style>
    .red_required {
        color: red;
        font-size: 21px;
        padding: 0 2.5px
    }

    .row {
        margin: 10px 0;
        white-space: nowrap;
        display: flex;
    }

    .caption {
        color: #676767;
        white-space: nowrap;
        text-align: right;
        width: 120px;
        margin-right: 10px;
    }

    .inputbox input {
        width: 300px;
    }

    .inputbox textarea {
        width: 290px;
        height: 120px;
        resize: none;
        outline: none;
        border: 1px solid #d3d3d3;
        padding: 5px;
    }

    textarea::-webkit-scrollbar {
        width: 8px;
        background-color: #eee;
        border-radius: 4px;
    }

    textarea::-webkit-scrollbar-thumb {
        background: #b8b4b4;
        border-radius: 4px;
    }
    #view-box::-webkit-scrollbar {
        width: 4px;
        background-color: #eee;
        border-radius: 2px;
    }
    #view-box::-webkit-scrollbar-thumb {
        background: #b8b4b4;
        border-radius: 2px;
    }
    .dot {
        width: 8px;
        height: 8px;
        background-color: #333;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        margin: 8px 5px;
    }

    .dot-active {
        background-color: #fff;
    }
    .activity-round-item {
        width: 328px;
        height: 140px;
        float: left;
    }

    #activity-round ul {
        transition: all 1s;
    }
</style>

<div id="manual_added" style="width: 1000px;">
    <!-- {:dump($model)} -->
    <div style="width: 100%;height: 610px;position: relative;">
        <div class="row">
            <div class="caption"><span class="red_required">*</span>参赛名称：</span></div>
            <div class="inputbox">
                <input class="easyui-validatebox" placeholder="请输入参赛名称" v-model="names" />
            </div>
        </div>
        <div class="row">
            <div class="caption"><span class="red_required">*</span>联系人：</span></div>
            <div class="inputbox">
                <input v-model="contact_name" class="easyui-validatebox" placeholder="请输入联系人"/>
            </div>
        </div>
        <div class="row">
            <div class="caption"><span class="red_required">*</span>联系电话：</span></div>
            <div class="inputbox">
                <input v-model="contact_tel" class="easyui-validatebox" placeholder="请输入联系电话"/>
            </div>
        </div>
        <div class="row">
            <div class="caption">参赛介绍：</div>
            <div class="inputbox">
                <textarea v-model="introduction" cols="30" rows="6" placeholder="请输入参赛介绍"></textarea>
            </div>
        </div>
        <div class="row" style="margin: 5px 0;">
            <div class="caption"><span class="red_required">*</span>上传封面：</div>
            <div style="position: relative;">
                <div class="btn-speed" style="margin: 0;">选择图片</div>
                <input id="update_coverImg" type="file"
                    style="width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0;" />
            </div>
        </div>
        <div style="width: 100%;display:flex;align-items: center;">
            <div class="caption"></div>
            <div v-if="coverImgUrl" style="width: 120px;height: 80px;border: 1px solid #d3d3d3;">
                <img style="width: 100%;height: 100%;" :src="coverImgUrl" alt="">
            </div>
        </div>
        <div class="row" style="margin: 5px 0;">
            <div class="caption">其它图片：</div>
            <div style="position: relative;">
                <div class="btn-speed" style="margin: 0;">选择图片</div>
                <input id="update_orderImg" type="file"
                    style="width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0;" />
            </div>
        </div>
        <div style="width: 100%;display:flex;align-items: center;">
            <div class="caption"></div>
            <div style="display: flex;flex-wrap: wrap;width: 50%;">
                <div v-for="item in allImgList.slice(1)"style="width: 100px;height: 70px;border: 1px solid rgb(211, 211, 211);margin: 0 5px 5px 0;">
                    <img style="width: 100%;height: 100%;" :src="item.url" alt="">
                </div>
            </div>
        </div>
        <!-- 右侧预览 -->
        <div style="position: absolute;right: 20px;top: 0;width: 320px;border: 1px solid #d3d3d3;">
            <div id="view-header">
                <img style="width: 100%;" src="__ROOT__/{$Think.MODULE_PATH}/Public/images/icon/view-phone-top.jpg" alt="">
            </div>
            <!-- 活动标题 -->
            <div id="activity-title" style="width:100%;background-color: #000;overflow: hidden;position: relative;">
                <p style="color: #fff;text-align: center;margin: 3px 0;">活动标题</p>
            </div>
            <div id="view-box" style="padding: 0 5px;background-color: #eee;overflow-x: hidden;height: 460px;overflow-y: auto;">
                <!-- 选手头像 -->
                <div style="width: 100%;text-align: center;">
                    <img v-if="coverImgUrl" :src="coverImgUrl" style="width: 100px;height: 100px;border-radius: 50%;margin: 10px 0;border: 1px solid #d3d3d3;" alt="">
                    <img v-else src="__ROOT__/{$Think.MODULE_PATH}/Public/images/icon/user_pic_none.jpg" style="width: 100px;height: 100px;border-radius: 50%;margin: 10px 0;border: 1px solid #d3d3d3;" alt="">
                    <div style="margin: 5px 0;" v-if="names">{{names}}</div>
                    <div style="margin: 5px 0;" v-else>参赛名称</div>
                </div>
                <!-- 数据明细 -->
                <div style="width: 100%;display: flex;align-items: center;justify-content: space-between;background-color: #fff;">
                    <div style="color: #333;text-align: center;margin: 0 10px;flex: 1;">
                        <p style="margin: 5px 0;">0</p>
                        <p style="margin: 5px 0;">报名人数</p>
                    </div>
                    <div style="color: #333;text-align: center;margin: 0 10px;flex: 1;">
                        <p style="margin: 5px 0;">0</p>
                        <p style="margin: 5px 0;">总票数</p>
                    </div>
                    <div style="color: #333;text-align: center;margin: 0 10px;flex: 1;">
                        <p style="margin: 5px 0;">0</p>
                        <p style="margin: 5px 0;">浏览量</p>
                    </div>
                </div>
                <!-- 照片展示 -->
                <div style="width: 100%;background-color: #fff;display: flex;flex-direction: column;align-items: center;"> 
                    <div style="margin: 5px 0;">照片展示</div>
                    <!-- 轮播 -->
                    <div id="activity-round" style="width: calc(100% - 60px);height: 140px;position: relative;overflow: hidden;background-color: #fff;margin: 5px 30px;">
                        <!--轮播图-->
                        <ul style="width: 3000px;white-space: nowrap;position: absolute;top: 0;left: 0;">
                            <li v-for="(item,index) in allImgList" class="activity-round-item">
                                <a style=" width: 258px;height: 140px;" href="#"><img style=" width: 258px;height: 140px;background-color: #eee;" :src="item.url" alt=""></a>
                            </li>
                            <li v-if="allImgList.length == 0" class="activity-round-item">
                                <a style=" width: 258px;height: 140px;" href="#"><img style=" width: 258px;height: 140px;background-color: #eee;" src="" alt=""></a>
                            </li>
                        </ul>
                        <div id="dot-box" style="width: 100%;display: flex;align-items: center;justify-content: center;overflow: hidden;position: absolute;bottom: 0;left: 0;">
                            <div v-for="k in allImgList" class="dot"></div>
                        </div>
                    </div>
                    <!-- 自我介绍 -->
                    <div v-if="introduction" style="width: calc(100% - 60px);margin: 5px 30px;">{{introduction}}</div>
                    <div v-else style="width: calc(100% - 60px);margin: 5px 30px;">（自我介绍）例：请大家为我投票。</div>
                </div>
            </div>
            <!-- 底部导航条 -->
            <div style="width: 100%;height: 70px;background-color: #fff;border-top: 1px solid #d3d3d3;display: flex;justify-content: space-between;align-items: center;">
                <div style="flex: 1;margin: 0 10px;text-align: center;">
                    <img style="width: 26px;height: 26px;" src="__ROOT__/{$Think.MODULE_PATH}/Public/images/icon/icon-home.png" alt="">
                    <p style="margin: 5px;">首页</p>
                </div>
                <div style="width: 90px;height: 90px;margin: 0px 10px;text-align: center;padding: 5px 0px 0px;position: relative;bottom: 20px;
                background-color: rgb(25, 147, 24);border-radius: 50%;cursor: pointer;">
                    <img style="width: 40px;height: 50px;" src="__ROOT__/{$Think.MODULE_PATH}/Public/images/icon/icon-tovote.png" alt="">
                    <p style="margin: 5px;color: #fff;">投TA一票</p>
                </div>
                <div style="flex: 1;margin: 0 10px;text-align: center;">
                    <img style="width: 26px;height: 26px;" src="__ROOT__/{$Think.MODULE_PATH}/Public/images/icon/icon-xshare.png" alt="">
                    <p style="margin: 5px;">邀请投票</p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 20px 0;text-align: center;border-top:1px solid #d3d3d3; ">
        <!-- <div class="btn-confirm" style="margin: 0 10px;">预览</div> -->
        <div class="btn-confirm" style="margin: 0 10px;" onclick="saveVoteParticipant()">保存</div>
    </div>
</div>
<script src="/{$Think.MODULE_PATH}Public/vue/vue.min.js"></script>
<script>
    function updateImg(file) {
        var URL = '';
        var formData = new FormData();
        formData.append('file', file);
        $.ajax({
            url: "/ComUploads/uploadsImg",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            mimeType: "multipart/form-data",
            dataType: 'json',
            success: function (data) {
                URL = data.data.images[0].url;
            },
        });
        return URL;
    }
    var manual_added = new Vue({
        el: "#manual_added",
        data: {
            names:'',
            contact_name:'',
            contact_tel:'',
            introduction:'',
            coverImgUrl: "",
            allImgList: []
        },
        mounted() {
            if('{$Think.__FORM_ACTION__}' != 'add'){
                // 初始化参赛名称
                this.names = '{$model.name}';
                // 初始化联系人
                this.contact_name = '{$model.contact_name}';
                // 初始化联系电话
                this.contact_tel = '{$model.contact_tel}';
                // 初始化参赛介绍
                this.introduction = '{$model.introduction}';
                // 初始化封面
                this.coverImgUrl = `{$model.cover_pic}`;
                // 初始化其他图片
                var imgAry = `{$model.details_pic}`.split(',');
                for(k in imgAry){
                    this.allImgList.push({url:imgAry[k],urlPath:imgAry[k]})
                }
            }
            // 上传封面
            $("#update_coverImg").change(function () {
                var oFiles = $(this).get(0).files;
                $(oFiles).each(function (index, obj) {
                    var url = updateImg(obj);
                    if (url == false) {
                        $.dialog.alert('上传失败');
                        return false;
                    };
                    var _file = this;
                    if (/^(image\/jpeg|image\/png)$/i.test(this.type)) {
                        var reader = new FileReader();
                        reader.readAsDataURL(this);
                        reader.onload = function () {
                            manual_added.coverImgUrl = this.result;
                            if (manual_added.allImgList.length == 0) {
                                manual_added.allImgList.unshift({
                                    url: this.result,
                                    urlPath: url,
                                    type: "image",
                                    src: reader.result,
                                    file: _file,
                                    file_name: _file.name
                                });
                            } else {
                                manual_added.allImgList.splice(0, 1, {
                                    url: this.result,
                                    urlPath: url,
                                    type: "image",
                                    src: reader.result,
                                    file: _file,
                                    file_name: _file.name
                                });
                            }
                        }
                    }
                })
            })
            // 上传其他图片
            $("#update_orderImg").change(function () {
                if (manual_added.allImgList.length == 0) {
                    $.dialog.tips("请先选择封面");
                    return false;
                }
                if (manual_added.allImgList.length == 7) {
                    $.dialog.tips("最多选择六张图片");
                    return false;
                }
                var oFiles = $(this).get(0).files;
                $(oFiles).each(function (index, obj) {
                    var url = updateImg(obj);
                    // console.log(url)
                    if (url == false) {
                        $.dialog.alert('上传失败');
                        return false;
                    };

                    var _file = this;
                    if (/^(image\/jpeg|image\/png)$/i.test(this.type)) {
                        var reader = new FileReader();
                        reader.readAsDataURL(this);
                        reader.onload = function () {
                            manual_added.allImgList.push({
                                urlPath: url,
                                url: this.result,
                                type: "image",
                                src: reader.result,
                                file: _file,
                                file_name: _file.name
                            })
                        }
                    }
                })
            })
            // 轮播
            var _imgNum = 0;
            setInterval(function () {
                if (_imgNum > manual_added.allImgList.length - 1) {
                    _imgNum = 0;
                    return false;
                }
                // console.log(_imgNum)
                $("#activity-round").find("ul").css("left", `-${328 * _imgNum}px`);
                $("#dot-box").find("div").eq(_imgNum).addClass("dot-active").siblings("div").removeClass("dot-active");
                _imgNum = _imgNum + 1;

            }, 2000);
        }
    })
    function saveVoteParticipant(){
        var data = {};
        data.id = '{$model["id"]}';
        data.name = manual_added.names;
        data.contact_name = manual_added.contact_name;
        data.contact_tel = manual_added.contact_tel;
        data.introduction = manual_added.introduction;
        data.cover_pic = manual_added.coverImgUrl ? manual_added.allImgList[0].urlPath : '';
        data.details_pic = [];
        var imgs =  manual_added.allImgList;
        if(imgs){
            for (var index in imgs){
                data.details_pic.push(imgs[index].urlPath);
            }
        }
        $.post('VoteParticipant/{$Think.__FORM_ACTION__}', data, function(res){
            if(res.code == 0){
                closeDialog();
                $.dialog.alert('保存成功!');
                $("#VoteParticipant-datagrid").datagrid('reload');
            }else{
                $.dialog.alert(res.message);
            }
        }, 'json')
    }
</script>