
<include file="UserSupervise:head"/>
<style>
	.mui-indexed-list-inner img {
	    width: .28rem;
	    height: .28rem;
	    margin-right: .2rem;
	}
	.mui-indexed-list-inner .company-select-item {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
		height: .9rem;
		line-height: .9rem;
	    padding: 0 .2rem;
	    box-shadow: 0 1px 0 #eeeeee inset;
	    background-color: #ffffff;
	}
	.mui-indexed-list-inner {
		border-radius: .1rem;
	}
    .view-top {
        margin-top: 1rem;
    }
</style>
<body>
<eq name="is_view" value="1">
    <include file="Index:header" />
</eq>
<section class="common-wrap fixed-page bg-none" style="overflow: hidden;">
	<div class="mui-search-area">
		<input id="company-name" class="mui-search-area-input mui-input-clear" value="{$name}" type="text" placeholder="请输入公司名称或用户名称进行搜索"/>
		<button></button>
	</div>
    <div class="mui-indexed-list-inner" id="app" style="overflow-y: auto;">
        <div class="company-select-item" v-for="(item, keys) in item_list" @click="closeSelect(item.value,item.text)">
            <img v-if="item.genre == 1" src="{$Think.const.IMG_URL}/\img\icon-company.png" alt="">
            <img v-if="item.genre != 1" src="{$Think.const.IMG_URL}/\icon\all-company.png" alt="">
            <span class="gray-6">{{item.text}}</span>
        </div>
    </div>
</section>
<input type="hidden" id="">
<script src="/{$Think.MODULE_PATH}Public/vue/vue.min.js"></script>
<include file="UserSupervise:foot_access_file"/>

</body>
</html>
<script type="text/javascript">
    var vue = new Vue({
        el: "#app",
        data: {
            item_list: [],
        }
    });
    $(function () {
        function calculateH(){
            var winH = $(document).height();
            var searchH = $('.mui-search-area').height();
            var btnH = $('.bottom-btn').height();
            $('.mui-indexed-list-inner').css('height',winH - searchH - btnH - 60);
        }
        calculateH();
        resetData();
    })
    $('#company-name').on('change',function(){
        resetData();
    })
    function resetData()
    {
        $.post("__MODULE__/ComBranchCapital/searchAccount",{name:$('#company-name').val(),various:'{$various}'},function(data){
            vue.item_list = data;
        },'json')
    }
    function closeSelect(value,text) {
        top.firstFrameAccount(value,text);
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
