</thead>
</table>
<div id="toolbar-[controller]">
    <div class="action-panel">
        <a href="javascript:void(0)" class="easyui-linkbutton detail-add" style="width:auto" icon="fa-plus" plain="true" >添加</a><div class="btn-separator"></div> 
        <a href="javascript:void(0)" class="easyui-linkbutton detail-edit" style="width:auto" icon="fa-list-alt" plain="true">修改</a><div class="btn-separator"></div>        
        <a href="javascript:void(0)" class="easyui-linkbutton detail-cancel" style="width:auto" icon="fa-undo" plain="true">撤销</a><div class="btn-separator"></div>
        <a href="javascript:void(0)" class="easyui-linkbutton detail-delete bg_red" style="width:auto" icon="fa-trash" plain="true">删除</a><div class="btn-separator"></div>
        <a href="javascript:void(0)" class="easyui-linkbutton detail-up" style="width:auto" icon="fa-arrow-up" plain="true">上移</a><div class="btn-separator"></div>
        <a href="javascript:void(0)" class="easyui-linkbutton detail-down" style="width:auto" icon="fa-arrow-down" plain="true">下移</a><div class="btn-separator"></div>
    </div>
</div>

