<include file="UserSupervise:head"/>
<body>
	<section class="template-wrap ">
		<div>
			<div class="simple-con mb15 font26">
				<div class="simple-template">
					<div class="title">收信人：</div>
					<div class="flex-1 flex-end">
						<div class="flex-1">
							<span>发送成功：125人</span>
							<a href="./send_list.html" class="blue-4591fe">查看》</a>
						</div>
						<div class="flex-1">
							<span>发送失败：97人</span>
							<a href="./send_list.html" class="blue-4591fe">查看》</a>
						</div>						
					</div>
				</div>
				<div class="simple-line">
					<div>通知时间：</div>
					<div>2018年6月29日10:08:02</div>
				</div>
				<hr/>
				<div>
					<div class="simple-template">
						<span>您有一个会议需要参加</span>
					</div>
					<div class="simple-template">
						<span class="title gray-a1">会议名称：</span>
						<span class="flex-1">研发部季度总结大会</span>
					</div>
					<div class="simple-template">
						<span class="title gray-a1">会议时间：</span>
						<span class="flex-1">2018年9月30日9:30</span>
					</div>
					<div class="simple-template">
						<span class="title gray-a1">会议地点：</span>
						<span class="flex-1">回合大厦3楼浩克会议厅</span>
					</div>
					<div class="simple-template">
						<span class="title gray-a1">会议介绍：</span>
						<span class="flex-1">1、回顾本季度研发情况<br>2、规划下一季度研发工作</span>
					</div>
					<div class="simple-template">
						<span class="flex-1">请准时到会，不要迟到</span>
					</div>
				</div>
			</div>
			<div class="simple-con flex-wrap simple-template">
				<span class="title gray-a1">跳转链接</span>
				<a href="" class="flex-1 tr blue-4591fe ov-h">http://w3shop26.caisuikx.com</a>
			</div>
		</div>
		<div class="bottom-btn">
			<button class="left-btn">删除</button>
			<button>编辑发送</button>
		</div>
	</section>
	<include file="UserSupervise:foot_access_file"/>
	<script type="text/javascript">
    
	</script>
</body>
</html>