<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
    <link href="{$Think.const.CSS_URL}mui/mui.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}css-new/bootstrap.min.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}reset.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}style.css" rel="stylesheet" />
    <link href="/{$Think.MODULE_PATH}Public/video/preview-media.min.css" rel="stylesheet" />
    <title>{$title}</title>
    <style>
    	html,body {
    		background-color: #ffffff !important;
    	}
    </style>
    <script src="{$Think.const.JS_URL}jquery.min.js"></script>
</head>
<body>
    <section class="preview-video-wrap">
        <div class="preview-video-top">
            <div class="title">程序开发中，敬请期待~</div>
            <div>您可以先<br>观看视频原型演示</div>
        </div>
		
		<div class="playvideo">
			<div class="preview-media">
		    	<video poster="https://r1.ykimg.com/05420408584A363C6A0A47047DD24931" data-config='{"mediaTitle": "测试视频--视频"}'>
	        	<source src="/{$Think.MODULE_PATH}Public/video/287f395aa820e1640ae3adbbb91b0cf9.mp4" type="video/mp4"></source>
		      	  您的浏览器不支持HTML5视频
		   	 </video>
		
			</div>
		</div>
		<div class="coding-section"></div>
    </section>
    <!--end 底部-->
    <script src="{$Think.const.JS_URL}jquery.min.js"></script>
    <script src="/{$Think.MODULE_PATH}Public/video/preview-media.min.js"></script>
    <script>
		document.body.style.overflow='hidden';
	    previewmedia('video');
	</script>
</body>
</html>
