<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
	    <link href="{$Think.const.CSS_URL}mui/mui.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}css-new/bootstrap.min.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}reset.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}common.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}style.css?v={$version}" rel="stylesheet" />
	    <title>{$title}</title>
	</head>
	<body>
		<section class="recipients-wrap">
			<ul>
				<li>
					<div id="A" class="check-area">
						<input id="wd" type="checkbox" />
						<label for="wd">厦门红鞋子科技有限公司</label>
					</div>
					<div>A吴郸</div>
				</li>
				<li>
					<div id="B" class="check-area">
						<input id="wxl" type="checkbox" />
						<label for="wxl">厦门纵图网络科技有限公司</label>
					</div>
					<div>B王晓陵</div>
				</li>
				<li>
					<div id="C" class="check-area">
						<input id="gw" type="checkbox" />
						<label for="gw">厦门华阳科技有限公司</label>
					</div>
					<div>C郭巍</div>
				</li>
				<li>
					<div id="D" class="check-area">
						<input id="hnt" type="checkbox" />
						<label for="hnt">厦门好加网络科技有限公司</label>
					</div>
					<div>D黄娜婷</div>
				</li>
				<li>
					<div id="E" class="check-area">
						<input id="cxz" type="checkbox" />
						<label for="cxz">厦门绿润科技有限公司</label>
					</div>
					<div>E陈携之</div>
				</li>
				<li>
					<div id="F" class="check-area">
						<input id="hxz" type="checkbox" />
						<label for="hxz">厦门红鞋子科技有限公司</label>
					</div>
					<div>F吴郸</div>
				</li>
				<li>
					<div id="G" class="check-area">
						<input id="zt" type="checkbox" />
						<label for="zt">厦门纵图网络科技有限公司</label>
					</div>
					<div>G王晓陵</div>
				</li>
				<li>
					<div id="H" class="check-area">
						<input id="hy" type="checkbox" />
						<label for="hy">厦门华阳科技有限公司</label>
					</div>
					<div>H郭巍</div>
				</li>
				<li>
					<div id="I" class="check-area">
						<input id="hj" type="checkbox" />
						<label for="hj">厦门好加网络科技有限公司</label>
					</div>
					<div>I黄娜婷</div>
				</li>
				<li>
					<div id="J" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>J陈携之</div>
				</li>
				<li>
					<div id="K" class="check-area">
						<input id="hxz" type="checkbox" />
						<label for="hxz">厦门红鞋子科技有限公司</label>
					</div>
					<div>K吴郸</div>
				</li>
				<li>
					<div id="L" class="check-area">
						<input id="zt" type="checkbox" />
						<label for="zt">厦门纵图网络科技有限公司</label>
					</div>
					<div>L王晓陵</div>
				</li>
				<li>
					<div id="M" class="check-area">
						<input id="hy" type="checkbox" />
						<label for="hy">厦门华阳科技有限公司</label>
					</div>
					<div>M郭巍</div>
				</li>
				<li>
					<div id="N" class="check-area">
						<input id="hj" type="checkbox" />
						<label for="hj">厦门好加网络科技有限公司</label>
					</div>
					<div>N黄娜婷</div>
				</li>
				<li>
					<div id="#" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>#陈携之</div>
				</li>
				<li>
					<div id="P" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>P陈携之</div>
				</li>
				<li>
					<div id="Q" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>Q陈携之</div>
				</li>
				<li>
					<div id="R" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>R陈携之</div>
				</li>
				<li>
					<div id="S" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>S陈携之</div>
				</li>
				<li>
					<div id="T" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>T陈携之</div>
				</li>
				<li>
					<div id="U" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>U陈携之</div>
				</li>
				<li>
					<div id="V" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>V陈携之</div>
				</li>
				<li>
					<div id="W" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>W陈携之</div>
				</li>
				<li>
					<div id="X" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>X陈携之</div>
				</li>
				<li>
					<div id="Y" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>Y陈携之</div>
				</li>
				<li>
					<div id="Z" class="check-area">
						<input id="lr" type="checkbox" />
						<label for="lr">厦门绿润科技有限公司</label>
					</div>
					<div>Z陈携之</div>
				</li>
			</ul>
			
			<div class="select-all">
				<div class="check-all">
					<input id="all" type="checkbox" />
					<label for="all">全选</label>
				</div>
				<div class="select-over">选好了</div>
			</div>
			<div style="height: 1.25rem;"></div>
		</section>
		<include file='Work:anchor' />
	</body>
</html>