<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
	    <link href="{$Think.const.CSS_URL}mui/mui.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}css-new/bootstrap.min.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}reset.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}common.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}style.css?v={$version}" rel="stylesheet" />
	    <title>{$title}</title>
	</head>
	<body>
		<section class="report-detail-wrap">
			<div class="month">2018年7月</div>
			<div class="report-preview">
				<div class="report-img">
					<img src="/{$Think.MODULE_PATH}Public/images/work/report1.png" alt="" />
					<img src="/{$Think.MODULE_PATH}Public/images/work/report2.png" alt="" />
				</div>
				<div class="time">上传时间：2018年7月2日17:56:26</div>
			</div>
			<div class="file">
				<div id="file-download" class="file-upload-area">
					<img src="/{$Think.MODULE_PATH}Public/images/work/word.png" alt="" />
					<div>
						<div class="black-blue">附件：代理记账管理办法</div>
						<div class="gray-9">13KB  点击下载</div>
					</div>
				</div>
			</div>
			
		</section>
	</body>
</html>