<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
	    <link href="{$Think.const.CSS_URL}mui/mui.css" rel="stylesheet" />	    
	    <link href="{$Think.const.CSS_URL}reset.css" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}style.css" rel="stylesheet" />
	    <title>{$title}</title>
	</head>
	<body>
		<section class="veri-wrap">
			<ul class="tab-bar">
				<li class="active">未处理</li>
				<li>已处理</li>
			</ul>
			<div class="processing">
				<div class="process-info">
					<div class="process-user">
						<div>申请人：吴郸</div>
						<div class="tel"><span></span>联系电话：13812345678</div>
					</div>
					<div class="process-content">核名信息：厦门市五缘湾网络科技有限公司</div>
					<div class="process-tag"><span>标签：暂无</span></div>
					<div class="add-tag-btn">标记</div>
				</div>
				<div class="process-info">
					<div class="process-user">
						<div>申请人：吴郸</div>
						<div class="tel"><span></span>联系电话：13812345678</div>
					</div>
					<div class="process-content">核名信息：厦门市五缘湾网络科技有限公司</div>
					<div class="process-tag"><span>标签：暂无</span></div>
				</div>
				<div class="process-info">
					<div class="process-user">
						<div>申请人：吴郸</div>
						<div class="tel"><span></span>联系电话：13812345678</div>
					</div>
					<div class="process-content">核名信息：厦门市五缘湾网络科技有限公司</div>
					<div class="process-tag"><span>标签：暂无</span></div>
				</div>
				<div class="process-info">
					<div class="process-user">
						<div>申请人：吴郸</div>
						<div class="tel"><span></span>联系电话：13812345678</div>
					</div>
					<div class="process-content">核名信息：厦门市五缘湾网络科技有限公司</div>
					<div class="process-tag"><span>标签：暂无</span></div>
				</div>
			</div>
			<div class="processed" style="">
				<div class="process-info">
					<div class="process-user">
						<div>申请人：吴郸</div>
						<div class="tel"><span></span>联系电话：13812345678</div>
					</div>
					<div class="process-content">核名信息：厦门市五缘湾网络科技有限公司</div>
					<div class="process-tag"><span>已处理</span></div>
				</div>
			</div>
			<include file="Work:modal_tag" />
		</section>
	</body>
</html>
