<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
	    <link href="{$Think.const.CSS_URL}mui/mui.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}css-new/bootstrap.min.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}reset.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}common.css?v={$version}" rel="stylesheet" />
	    <link href="{$Think.const.CSS_URL}style.css?v={$version}" rel="stylesheet" />
	    <title>{$title}</title>
	</head>
	<body>
		<section class="notify-wrap">
			<div class="new-notify">
				<img src="/{$Think.MODULE_PATH}Public/images/work/sys-hint.png" alt="" />
				<div>
					<div class="news-point"></div>
					<span class="black-04">系统消息</span>
					<span class="gray-8c">2018-7-9 您好！您有一个新订单......</span>
				</div>
			</div>
			<div class="notify">
				<div class="notify-content">
					<div class="notify-to notify-line">
						<div class="title">收信人：</div>
						<div class="content">Dan、洪学智、空等9人</div>
					</div>
					<div class="notify-time notify-line">
						<div class="title">通知时间：</div>
						<div class="content">2018年7月5日11:10:23</div>
					</div>
					<div class="notify-omission notify-line">
						<div class="title">通知内容：</div>
						<div class="content-omission">各省、自治区、直辖市、计划单列市财政厅(局):<br>各省、自治区、直辖市、计划单列市财政厅（局）：
为贯彻落实《代理记账管理办法》（财政部令第80号），做好2018年代理记账行业管理工作现将有关事项通知如下：</div>
					</div>
				</div>
				<a href="">
					<div class="notify-detail">查看详情</div>
				</a>
			</div>
			<div class="notify">
				<div class="notify-content">
					<div class="notify-to notify-line">
						<div class="title">收信人：</div>
						<div class="content">Dan、洪学智、空等9人</div>
					</div>
					<div class="notify-time notify-line">
						<div class="title">通知时间：</div>
						<div class="content">2018年7月5日11:10:23</div>
					</div>
					<div class="notify-omission notify-line">
						<div class="title">通知内容：</div>
						<div class="content-omission">各省、自治区、直辖市、计划单列市财政厅(局):<br>各省、自治区、直辖市、计划单列市财政厅（局）：
为贯彻落实《代理记账管理办法》（财政部令第80号），做好2018年代理记账行业管理工作现将有关事项通知如下：</div>
					</div>
				</div>
				<a href="">
					<div class="notify-detail">查看详情</div>
				</a>
			</div>
			<div style="height: 1.35rem;"></div>
			<a href="">
				<div class="add-notify">新建通知</div>
			</a>
		</section>
	</body>
</html>
