<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>修改密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="/{$Think.APP_PATH}Public/mui/css/mui.min.css">
		<link href="/{$Think.APP_PATH}Public/mui/css/mui.poppicker.css" rel="stylesheet" />
		<link href="{$Think.const.CSS_URL}/css-new/bootstrap.min.css" rel="stylesheet" />
		<link href="{$Think.const.CSS_URL}/css-new/menu.css" rel="stylesheet" />
		<link href="/{$Think.APP_PATH}Public/mui/css/mui.picker.css" rel="stylesheet" />
		<link href="{$Think.const.CSS_URL}/css-new/form.css" rel="stylesheet" />
		<link href="{$Think.const.CSS_URL}reset.css" rel="stylesheet" />
		<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" />
		<link href="{$Think.const.CSS_URL}style.css" rel="stylesheet" />
		<script src="{$Think.const.JS_URL}/jquery.min.js"></script>
		<script src="/{$Think.APP_PATH}Public/js/jquery.validate.min.js"></script>
		<script src="/{$Think.APP_PATH}Public/js/jquery.validate.cn.js" charset="UTF-8"></script>
		<script src="{$Think.const.JS_URL}layer/layer.js"></script>
		<script src="/{$Think.APP_PATH}Public/mui/js/mui.min.js"></script>
		<script src="{$Think.const.JS_URL}common.js"></script>
	</head>
	<body style="background-color:#EFEFF4">
		<include file="Index:header" />
		
		<section class="identity clearfix" style="margin-top: 0.85rem;">
		    <div class="device-two" onclick="location.href='__MODULE__/User/userEdit.html'">修改资料</div>
		    <div class="device-two identity-active">修改密码</div>
		</section>
	
		<link href="{$Think.const.JS_URL}multisel/dist/jquery.tree-multiselect.min.css" rel="stylesheet" type="text/css" />
		<link href="/{$Think.APP_PATH}Public/mui/css/mui.indexedlist.css" rel="stylesheet" />
		<!--内容区 start-->
		<div style="padding-top: initial">
			<div style="margin: 0.15rem 0 0;">
				<form class="input-group-style form-color-gray" id="loginForm" onsubmit="return false;">
					<div class="input-row-style">
						<label>原密码</label>
						<input type="password" name="old_password" id="old_password" class="mui-input-clear" placeholder="请输入原密码"/>
					</div>
					<div class="input-row-style">
						<label>新密码</label>
						<input type="password" name="new_password" id="new_password" class="mui-input-clear" placeholder="请输入不少于4位数字或字母" />
					</div>
					<div class="input-row-style">
						<label>请再次输入</label>
						<input type="password" name="confirm_password" id="confirm_password" class="mui-input-clear" placeholder="请再次输入密码" />
					</div>
				</form>
				<div class="form-btn-style">
					<button type="button" id="loginBtn">确认</button>
				</div>
			</div>
		</div>

		<!--底部 start-->
		<include file="Public:contact" />
		<!--end 底部-->
		<script src="{$Think.const.JS_URL}jquery.min.js"></script>
		<script src="{$Think.const.JS_URL}bootstrap.min.js"></script>
		<script src="{$Think.const.JS_URL}layer/layer.js"></script>
	</body>

</html>

<script>
	select_menu('my');
	
	$('#loginBtn').click(function() {
		var jpassword = $("#old_password").val();
		var xpassword = $("#new_password").val();
		var zpassword = $("#confirm_password").val();

		if(jpassword == '') {
			layer.msg('请输入旧密码');
			return;
		}

		if(xpassword == '') {
			layer.msg('请输入新密码');
			return;
		}

		if(!(/^[a-zA-Z0-9]{4,}$/.test($('#new_password').val()))) {
			layer.msg('请输入不少于4位数字或字母');
			return false;
		}

		if(xpassword != zpassword) {
			layer.msg('两次输入的密码不一致呀');
			return;
		}

		var data = {
			"action": 'ok',
			"jpassword": jpassword,
			"password": xpassword,
		};

		$.ajax({
			url: '__MODULE__/User/password.html',
			type: 'POST',
			dataType: "json",
			data: data,
			success: function(data) {
				if(data.error == 0) {
					layer.msg('修改成功');
					setTimeout(function() {
						window.location.href = "__MODULE__/Index/user.html";
					}, 2000);
				} else if(data.error == 1) {
					layer.msg(data.msg);
				}
			}
		});

	});
</script>