<script src="__ROOT__/{$Think.MODULE_PATH}/Public/script/bill_img_nav.js"></script>
<script type='text/javascript' src='__ROOT__/{$Think.APP_PATH}/Public/jquery/autocompleter/jquery.autocomplete.js'></script>
<script type='text/javascript' src='__ROOT__/{$Think.APP_PATH}/Public/js/jquery.rotate.min.js'></script>
<script type='text/javascript' src='__ROOT__/{$Think.APP_PATH}/Public/mobile/mobile.js'></script>
<link rel="stylesheet" type="text/css" href="__ROOT__/{$Think.APP_PATH}/Public/jquery/autocompleter/jquery.autocomplete.css" />
<link rel="stylesheet" href="__ROOT__/{$Think.APP_PATH}/Public/uploader/uploader.css" />
<style>
    .btn-item-remove{position: absolute; right:30px; top:0px;z-index: 99;background: #5f5f5f;width:30px;height:30px;opacity:0.8; border-radius: 30px;color:#fff}
    .btn-item-remove:hover{color: red;cursor: pointer}
    .btn-item{position: absolute;z-index:99;background: #5f5f5f;color:#fff;opacity:0.8; border-radius: 30px;width:30px;height:30px; top:0px}
    .btn-item:hover{color: red;cursor: pointer}
    .bill-flag-nav{position: fixed;bottom:30px;width:59%;height:60px;left:1%; color:#ffffff;background:#5f5f5f;padding: 5px 0px;z-index: 10;text-align: center;border-radius:5px;display: none;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
    .bill-flag-nav .btn-narrow{float: right;}
</style>
<form action="__CONTROLLER__/{$Think.__FORM_ACTION__}" id="VcrBill-dataform" method="post" name="VcrBill-dataform">
<div class="detailcontainer full-screen" id="VcrBill-detailcontainer" style="display: flex;  flex-flow: row;">
            <input name="id"  type="hidden"  value="{$model.id}">
            <input name="image_id"  type="hidden"  value="{$model.image_id}">
            <div  style="flex:3; height: 100%;border: 1px #ccc solid">
                <div class="top-pannel" style="width:100%;border-bottom: 1px #ccc solid;height: 40px;padding:5px 0px">
                        影像归属会计期间：<select class="chosen-select" style="width:300px;" name="images_accounting_section"></select>
                        <a href="javascript:void(0)" class="easyui-linkbutton fontawesome-icon-button btn-download-bill-img" plain="true" icon="fa fa-download fa-lg">载入影像</a>
                </div>
                <div class="kui-img-list-nav"></div>
                <div class="preview-image-nav" style="width:60%;height:700px;padding:0px;overflow: auto;margin:5px auto;position: absolute;top:60px;left:10px;border-radius: 5px;border:2px solid #ccc" align="center">
                    <a class="btn-item btn-item-narrow" style="right:120px" href="javascript:;"><i class="fa fa-compress fa-2x"></i></a>
                    <a class="btn-item btn-item-enlarge" style="right:90px" href="javascript:;"><i class="fa fa-expand fa-2x"></i></a>
                    <a class="btn-item btn-item-rotate" style="right:60px" href="javascript:;"><i class="fa fa-refresh fa-2x"></i></a>
                    <a class="btn-item-remove" href="javascript:;"><i class="fa fa-trash-o fa-2x"></i></a>
                    <a class="btn-item btn-item-close" style="right:0px" href="javascript:;"><i class="fa fa-close fa-2x"></i></a>
                    <img src="" style="width: 100%;"/>
                </div>
                <div  class="mask-layer-half-transparent bill-flag-nav">
                    <div style="font-weight: bold;padding:5px">
                        <span>选择当前影像对应的单证类型</span>
                    <i class="fa fa-arrow-left btn-narrow">收起</i>
                    </div>
                    <div style="line-height: 32px; padding: 5px; border-top: 1px solid #ffffff;" class="bill-flag-choise">
                        <span class="fa fa-arrow-left fa-lg item-nav-left" style="padding-right: 5px;cursor: pointer">上一张</span>
                        <label><input name="item_nav" type="radio" value="{$Think.const.FLAG_BILL_TAX_PAY}" data-value="{$model.bill_flag}">外取发票</label>
                        <label><input name="item_nav" type="radio" value="{$Think.const.FLAG_BILL_TAX_INCOME}" data-skip="true" data-value="{$model.bill_flag}">自开发票</label>
                        <label><input name="item_nav" type="radio" value="{$Think.const.FLAG_BILL_SALARY}" data-skip="true" data-value="{$model.bill_flag}">工资</label>
                        <label><input name="item_nav" type="radio" value="{$Think.const.FLAG_BILL_BANK}" data-skip="true" data-value="{$model.bill_flag}">银行类</label>
                        <span class="fa fa-arrow-right fa-lg item-nav-right" style="padding-left: 5px;cursor: pointer">下一张</span>
                    </div>
                </div>
            </div>
            <div  style="flex: 2; height: 100%;border: 1px #ccc solid; border-left:none;overflow-y: auto" >
                <div class="bill-content"></div>
            </div>
</div>
</form>

<script type="text/javascript">
    
    $(function () {
        max_dialog($("#VcrBill-detailcontainer"));
        create_ccounting_section($("select[name=images_accounting_section]"));
        $("select[name=images_accounting_section]").bind("change", function(){
            $(".kui-img-list-nav").html("");
        });
        
            var num = 0;
            $(".btn-item-rotate").click(function(){
                var img = $(".preview-image-nav").find("img:first");
                angle = (90*num+90);
                num++;
                img.rotate(angle);
            });

            $(".btn-item-enlarge").click(function(){
                var img = $(".preview-image-nav").find("img:first");
                img.width(img.width() *1.2);
                img.height(img.height() *1.2);

            });
            $(".btn-item-narrow").click(function(){
                var img = $(".preview-image-nav").find("img:first");
                img.width(img.width()/1.2);
                img.height(img.height()/1.2);

            });            
            $(".btn-item-close").click(function () {
                $(".preview-image-nav").hide();
                $(".bill-flag-nav").hide();
            });
            $(".bill-flag-nav .btn-narrow").click(function(event){
                $(".bill-flag-nav").animate({width:"50px"});
                event.stopPropagation();
            });
            $(".bill-flag-nav").click(function(){
                $(".bill-flag-nav").animate({width:"59%"});
            });
        var action = "{$Think.__FORM_ACTION__}";
        if (action == "add") { //手工录入
            $("input[name=item_nav]").change(function () {
                var current =  getSelectedImageData();
                if (current.bill_id == 0 || current.bill_id == ""){
                    resetBillContent();
                    var skip = $(this).attr("data-skip");
                    if (skip == "true") {
                        createDialog("VcrBill/link/bill_flag/"+$(this).val(), "影像-数据关联");
                    } else {
                        $.dialog.tips("请填写右边的单证资料并保存");
                        getBillContentByFlagForNav($(this).val(), action);
                    }
                }
            });
            $(".item-nav-left").click(function (evt) {
                thumb_nav_prev();
                evt.stopPropagation();
            });
            $(".item-nav-right").click(function (evt) {
                thumb_nav_next();
                evt.stopPropagation();
            });
            $(".btn-download-bill-img").click(function () {
                var accounting_section = $("select[name=images_accounting_section]").val();
                $.post("VcrBill/getBillImages", {accounting_section: accounting_section}, function (result) {
                    if (result.code == 0) {
                        createNavThumbs(result.message);
                    } else {
                        $.dialog.confirm('当前月份没有影像资料，是否立即导入？<br>导入完成后请重新点击载入影像', function () {
                            createDialog("/VcrBill/imgImport?accounting_section=" + accounting_section, "导入影像");
                        });
                    }
                }, "json");
            });
            $(".preview-image-nav").click(function () {
                // $(this).hide();
                // $(".bill-flag-nav").hide();
            });
            $(".btn-item-remove").click(function(evt){
                var $wrap = $(".preview-image-nav").data("target");
                var image_id = $wrap.attr("data-id");
                var bill_id = $wrap.attr("data-parent-id");
                if (bill_id > 0){
                    $.dialog.tips("已经关联单证，无法删除！");
                    evt.stopPropagation();
                }else{
                    if (image_id != undefined){
                        $.dialog.confirm('确认删除此影像？', function () {
                            $.post("VcrBill/removeImage", {image_id: image_id}, function () {
                                $wrap.remove();
                            }, "json");
                            $(".preview-image-nav").hide();
                            $(".bill-flag-nav").hide();
                        });
                    }
                }
            });




        }else{
            getDataForm("VcrBill").find(".top-pannel").hide();
            getBillContentByFlag("{$model.bill_flag}",action);
            createNavThumbs('{$model.images}');
            $(".bill-flag-nav").css("bottom","-1000px");
        }
    });

</script>

