<script type='text/javascript' src='__ROOT__/{$Think.APP_PATH}/Public/mobile/mobile.js'></script>
<link rel="stylesheet" href="__ROOT__/{$Think.MODULE_PATH}/Public/css/vcr_style.css" />
<style>
    .account-info span {
    text-indent: 0px;
}
.recording-voucher table div {
    height: 24px;
}
.float_layer{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background: #fff;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.icon-rotating{
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 10px;
    color: #fff;
    background-color: rgba(1,1,1, 0.4);
    cursor: pointer;
    margin: 0 0 10px 0;
}
.icon-cover{
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 10px;
    color: #fff;
    background-color: rgba(1,1,1, 0.4);
    cursor: pointer;
    margin: 0 0 10px 0;
}
#preview-img-div::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #eee;
    border-radius: 2px;
}
#preview-img-div::-webkit-scrollbar-thumb{
    background: #a19797;
    border-radius: 2px;
}
</style>
<form action="__CONTROLLER__/{$Think.__FORM_ACTION__}" id="VcrBill-dataform" method="post" name="VcrBill-dataform">
    <div class="detailcontainer full-screen" id="VcrBill-detailcontainer" style="width:96vw">
        <input name="id"  type="hidden"  value="{$model.id}">
        <input name="image_id"  type="hidden"  value="{$model.image_id}">
        <input name="source_flag" value="{$model.source_flag}" type="hidden" />
        <input name="image_id" value="{$model.image_id}" type="hidden" />
        <input name="tax_id" value="{$model.tax_id}" type="hidden" />
        <div  style="width:50%; height: 90vh;float:left;position: relative;overflow: hidden;">
            <div id="preview-img-div" style="width: 90%;position: relative;max-height: 380px;overflow-y: auto;padding: 0 5px 0px 0;margin-bottom: 5px;">
                <div id="img-big-view" style="width: 100%;position: relative;border: 1px solid #d3d3d3;">
                    <span class="mark" style="width: 100%;height: 100%;position: absolute;z-index: 11;left: 0px;top: 0px;opacity: 0;"></span>
                    <span class="float_layer"></span>
                    <img style="width: 100%" src="{$model.image_url}" alt="Picture">
                    <!-- <img style="width: 100%" src="" alt=""> -->
                </div>
            </div>
            <!-- <div  class="intel-image">
                <div>
                    <img id="image" src="{$model.image_url}" alt="Picture">
                </div>
            </div> -->
            <div id="preview-img" style="display: none;width: 90%;height: 300px;overflow: hidden;position: relative;border: 1px solid #d3d3d3;z-index: 124;">
                <img style="position: absolute;top: 0px;left: 0px;width: 1400px;" src="{$model.image_url}" alt="">
            </div>
        </div>
        <div  style="width:50%; height: 90vh;overflow-y: auto;float:right" >
            <div class="bill-content">
                <input name="bill_flag" type="hidden" value="{$model.bill_flag}" />
                <div class="property-content">
                    <ul class="input-contents" style="display: flex">
                        <li style="margin-right: 5px;width: 180px;">
                            <div class="title required">录入日期</div>
                            <div class="input">
                                <input type="text" name="bill_date" style="width:100%" class="easyui-datebox easyui-validatebox"
                                       data-options="required:true,formatter:formatDate" value="{$model.bill_date}"
                                       style="width: 100%">
                            </div>
                        </li>
                        <li style="flex:1; padding-right: 5px">
                            <div class="title required">录入单号</div>
                            <div class="input">
                                <input type="text" name="bill_no" class="easyui-validatebox"
                                       data-options="required:true,formatter:formatDate" value="{$model.bill_no}"
                                       style="width: 100%">
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li style="flex:1">
                            <div class="title required">会计期间</div>
                            <div class="input">
                                <!--<input type="text"  name="accounting_section" id="accounting_section"
                                       value="{$model.accounting_section}"
                                       style="width: 100%">-->
                                <input type="text" style="width: 20%" name="accounting-section-year" id="buy-accounting-section-year" value=""/>
                                <input type="text" style="width: 20%" name="accounting-section-month" id="buy-accounting-section-month" value=""/>
                                <input type="hidden" name="accounting_section" value="{$model.accounting_section}">
                            </div>
                        </li>
                    </ul>
                    <div class="source-input" style=" background: #f6f9fe; padding: 0px 20px; margin-top: 20px;">
                        <div class="input" style="padding:15px 0px 10px; text-align: left">
                            <ul class="switch-buttons">
                                <li class="checked"  data-value="false">非费用类</li>
                                <li data-value="true">费用类</li>
                            </ul>
                            <ul  class="flex-row" style="margin-top: 10px;">
                                <li class="name-row fee-disable-row" style="flex:1; padding-right: 5px">
                                    <div class="title source_flag_title required">销售方</div>
                                    <div class="input">
                                        <input type="text" class="easyui-validatebox" name="name" data-options="required:false" placeholder=""
                                               value="{$model.name}" style="width: 100%">
                                    </div>
                                </li>
                                <li class="fee-info source-input pay-type-row" style="flex:1; padding-right: 5px">
                                        <input name="is_fee" type="checkbox" class="css-checkbox" value="1">
                                        <div class="title source_flag_title required">费用部门</div>
                                        <input type="text" name="fee_department"  id="fee-department"
                                               value="{$model.fee_department}">
                                </li>
                                <li class="memo-content" style="flex:2;">
                                    <div class="title required">摘要</div>
                                    <div class="input">
                                        <input name="memo" class="easyui-validatebox"  placeholder="" value="{$model.memo}" style="width: 100%" required/>
                                    </div>
                                </li>
                            </ul>
                            <div style="margin:10px; width:100%;float:left">
                                <div class="source-input" style="float: left; margin-right: 30px">
                                    <input name="cashpayed" type="checkbox"  value="1" data-value="{$model.cashpayed}" title="">现金已付
                                </div>
                                <div class="tax-type-row" style="float: left">
                                    <input  name="tax_type" type="checkbox" value="{$Think.const.TAX_TYPE_VTX}" data-value="{$model.tax_type}" >专用发票
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-list" style="padding: 5px 20px;border-bottom: 1px solid #f6f9fe; background: #f6f9fe;">
                        <fieldset style="border:1px #ccc solid;margin:0;border-radius:5px;">
                            <legend>明细</legend>
                            <div class="contents"></div>
                        </fieldset>
                        <div style="text-align: center;width:100%;position: relative;text-align: center;padding: 10px">
                            <a href="javascript:void(0)" style="padding: 5px 10px;color:#368bfe;border:1px solid #368bfe;background: #fff"  onclick="action_add_detail()">+添加明细</a>
                            <div style="position: absolute; top:10px; right:20px;"><span>合计：</span><span class="total-all" style="color:red">0</span>元</div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <input class="blue-btn" type="button" value="保存" onclick="VcrBillFunctions.saveValueTaxBill()"/>
                    <input class="square-btn" type="button" value="取消" onclick="closeDialog()"/>
                </div>
                <div id="tv-item-detail-tmp" style="display: none">
                    <div class="content content-{%index%}"
                         style="padding: 5px;background: #F5F5F5;margin-bottom: 5px;border-bottom: 1px #ccc solid;float:left;width:100%">
                        <div style="position: relative">
                            <div class="title required" style="margin-right:20px">{%index%}、<span class="goods-title">货物或劳务、服务名称</span>
                            </div>
                            <div style="position: absolute;right:10px;top:0px;color:red;cursor: pointer"
                                 onclick="$.dialog.confirm('确认删除当前项？', function(){remove_detail_item('{%index%}')})">
                                删除
                            </div>
                            <div class="input">
                                <input type="text" class="easyui-validatebox input-goods" disabled name="goods_name[]"
                                       data-options="" placeholder="" value="{%goods_name%}" style="width: 94%">
                            </div>
                        </div>

                        <div style="height: 40px;line-height: 40px" class="fee-type fee-able">
                            <div style="float:left">
                                <eq name="model.ent_scale" value="1">
                                    <label><input name="fee_type_{%index%}" type="radio" value="3" data-value="{%fee_type%}">专用发票</label>
                                </eq>
                                <label><input name="fee_type_{%index%}" type="radio" value="{$Think.const.RATE_ROAD_BRIDGE}" data-value="{%fee_type%}">过桥过路费</label>
                                <label><input name="fee_type_{%index%}" type="radio" value="{$Think.const.RATE_EXPRESSWAY}" data-value="{%fee_type%}">高速路通行费</label>
                                <label><input name="fee_type_{%index%}" type="radio" value="0" data-value="{%fee_type%}"  default="true">其他</label>
                            </div>
                            <div style="float:left;padding:5px 10px;width:20%;position: relative">
                                <div class="total-amount-pannel" style="width:80%"></div>
                                <span style="position: absolute;top:0px;right:0px">元</span>
                            </div>
                        </div>
                        <div style="height: auto;">
                            <div class="total-amount-row" style="width:22%;float: left;margin-right: 2%">
                                <div class="title total-amount-title required">总额</div>
                                <div class="total-amount-row-inner">
                                    <div class="input">
                                        <input type="text" class="easyui-validatebox input-total-amount" disabled name="total_amount[]"
                                               data-options="precision:2,validType:'number'" placeholder="" value="{%total_amount%}"
                                               style="width: 100%">
                                    </div>
                                </div>
                            </div>
                            <div style="width:22%;float: left; margin-right: 2%" class="tax-rate-row tax-row">
                                <div class="title">税率(%)</div>
                                <div class="input">
                                    <input type="text" class="easyui-validatebox input-tax-rate" disabled name="tax_rate[]"
                                           data-options="precision:1,validType:'number'" placeholder="" value="{%tax_rate%}"
                                           style="width: 100%">
                                </div>
                            </div>
                            <div class="tax-amount-row tax-row" style="width:22%;float: left;; margin-right: 2%">
                                <div class="title">税额</div>
                                <div class="input">
                                    <input type="text" class="easyui-validatebox input-tax-amount" disabled name="tax_amount[]"
                                           data-options="precision:2,validType:'number'" placeholder="" value="{%tax_amount%}"
                                           readonly style="width: 100%">
                                </div>
                            </div>
                            <div class="third-width fee-disable" style="width:22%;float: left; margin-right: 2%">
                                <div class="title">数量</div>
                                <div class="input">
                                    <input type="text" class="easyui-validatebox input-quantity" disabled name="quantity[]"
                                           data-options="validType:'number'" placeholder="" value="{%quantity%}"
                                           style="width: 100%">
                                </div>
                            </div>
                            <div style="width:22%;float: left;; margin-right: 2%" class="fee-disable">
                                <div class="title">单价</div>
                                <div class="input">
                                    <input type="text" class="easyui-validatebox input-price" disabled name="price[]"
                                           data-options="validType:'number'" placeholder="" value="{%price%}"
                                           style="width: 100%">
                                </div>
                            </div>
                            <div class="third-width fee-disable" style="width:22%;float: left; margin-right: 2%">
                                <div class="title">单位</div>
                                <div class="input">
                                    <input type="text" class="easyui-validatebox input-unit" disabled name="unit[]" data-options=""
                                           placeholder="计量单位" value="{%unit%}"
                                           style="width: 100%">
                                </div>
                            </div>
                            <div style="width:22%;float: left; margin-right: 2%" class="amount-row tax-row">
                                <div class="title required">金额</div>
                                <div class="amount-row-inner">
                                    <div class="input">
                                        <input type="text" class="easyui-validatebox input-amount" disabled name="amount[]" disabled
                                               data-options="required:true,precision:2,validType:'number'" placeholder=""
                                               value="{%amount%}" readonly style="width: 100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    create_accounting_section_combox("#accounting_section", "{$model.accounting_section}");
    easyui_combobox("#fee-department", JSON.parse('{$model.fee_departments}'), "{$model.fee_department}");
    //var modelData = {is_fee:"{$model.is_fee}",source_flag:"{$model.source_flag}",items:"{$model.items}",ent_scale:"{$model.ent_scale}"};
    create_accounting_section_combox("#buy-accounting-section-year","","year");
    create_accounting_section_combox("#buy-accounting-section-month","","month");

    $("#buy-accounting-section-year").combobox({
        onSelect : function() {
            setAccountingSection();
        }
    });
    $("#buy-accounting-section-month").combobox({
        onSelect : function() {
            setAccountingSection();
        }
    });

    function setAccountingSection(){
        var accounting_section = $("#buy-accounting-section-year").combobox("getValue")+"/"+$("#buy-accounting-section-month").combobox("getValue");
        $("input[name='accounting_section']").val(accounting_section);
    }

    $(function(){
        var accounting_section = $("input[name='accounting_section']").val();
        accounting_section = accounting_section.split("/");
        $("#buy-accounting-section-year").combobox("setValue",accounting_section[0]);
        $("#buy-accounting-section-month").combobox("setValue",accounting_section[1]);
    })


    var modelData = {
        is_fee:'{$model.is_fee}'=="1",
        items:'{$model.items}',
        ent_scale:'{$model.ent_scale}',
        is_special_invo:'{$model.tax_type}'=='{$Think.const.TAX_TYPE_VTX}',
        is_pay:'{$model.bill_flag}'=='{$Think.const.FLAG_BILL_TAX_PAY}',
        is_scale_small:'{$model.ent_scale}'=='{$Think.const.ENTERPRISE_SCALE_SMALL}',
        income_taxrate:'{$model.income_taxrate}'
    };
    $(function () {
        $(".switch-buttons li").click(function () {
            var _this =  this;
            var checked = $(this).data("value");
            if ($(".detail-list .content").length > 0){
                $.dialog.confirm("切换类型将删除所有明细，确定？",function(){
                    $(".detail-list .contents").html("");
                    isfee_change(checked ? 1 : 0);
                    $("input[name=is_fee]:checkbox").prop("checked", checked);
                    appendBillDetail();
                    $(_this).siblings().removeClass("checked");
                    $(_this).addClass("checked");
                });
            }else{
                $(_this).siblings().removeClass("checked");
                $(_this).addClass("checked");
            }
        });
        $(".switch-buttons li").removeClass("checked");
        $(".switch-buttons li[data-value="+modelData.is_fee+"]").addClass("checked");
        $("input[name=is_fee]:checkbox").prop("checked",modelData.is_fee);
        $("input[name=is_fee]").change(function () {

        });
        $("input[name=tax_type]:checkbox").change(function () {
            if ($(this).prop("checked")) {
                $(".detail-list  .tax-row").show();
            } else {
                $(".detail-list  .tax-row").hide();
            }
        });
        initAutoComplete();
        initView();
    });
    function initAutoComplete() {
        $.post("/VcrBillValueTax/getAutoCompleteDatas", {include: 9, bill_flag:"{$model.bill_flag}"}, function (result) {
            if (result.code == 0) {
                autocomplete($("input[name='name']"), result.message.names);
                $(document).data("unit_name", result.message.unit_names);
            }
        }, "json");
    }

    /*数量单价改变*/
    function detailQuantityChanged(parent) {
        var amount = $(parent).find(".input-amount").val();
        var quantity = parseFloat($(parent).find(".input-quantity").val());
        if (!isNaN(amount) && !isNaN(quantity) && quantity !=0) {
            $(parent).find(".input-price").val((amount/quantity).toFixed(2));
            calcTotalSum(false);
        }
    }

    function detailPriceChanged(parent) {
        var amount = $(parent).find(".input-amount").val();
        var price = parseFloat($(parent).find(".input-price").val());
        if (!isNaN(amount) && !isNaN(price) && price !=0) {
            $(parent).find(".input-quantity").val((amount/price).toFixed(2));
            calcTotalSum(false);
        }
    }

    /*税率改变，反推金额税额和单价*/
    function detailTaxRateChanged(parent) {
        var tax_rate = parseFloat($(parent).find(".input-tax-rate").val());
        if (isNaN(tax_rate)) {
            tax_rate = 0;
        }
        var quantity = parseFloat($(parent).find(".input-quantity").val());
        if (isNaN(quantity)) {
            quantity = 1;
        }
        var total_amount = parseFloat($(parent).find(".input-total-amount").val());
        if (!isNaN(total_amount)) {
            var tax_amount = total_amount/(1+tax_rate/100)*tax_rate/100
            $(parent).find(".input-tax-amount").val(tax_amount.toFixed(2));
            $(parent).find(".input-amount").val((total_amount - tax_amount).toFixed(2));
            $(parent).find(".input-price").val(((total_amount - tax_amount) / quantity).toFixed(2));
            calcTotalSum(false);
        }
    }

    /*价税合计改变*/
    function detailTotalAmountChanged(parent) {
        var total_amount = parseFloat($(parent).find(".input-total-amount").val());
        var tax_rate = parseFloat($(parent).find(".input-tax-rate").val());
        if (isNaN(tax_rate)) {
            tax_rate = 0;
            $(parent).find(".input-tax-rate").val(0);
        }
        var quantity = parseFloat($(parent).find(".input-quantity").val());
        if (isNaN(quantity)) {
            quantity = 1;
            $(parent).find(".input-quantity").val(1);
        }
        if (!isNaN(total_amount)) {
            var amount = total_amount/(1+tax_rate/100);
            $(parent).find(".input-amount").val(amount.toFixed(2));
            $(parent).find(".input-tax-amount").val((total_amount-amount).toFixed(2));
            $(parent).find(".input-price").val((amount / quantity).toFixed(2));
            calcTotalSum(false);
        }
    }

    /*统计总计，是否重新计算价税合计*/
    function calcTotalSum(is_reset_total) {
        var total = 0;
        $(".detail-list .content").each(function () {
            var tax_amount = parseFloat($(this).find(".input-tax-amount").val());
            var amount = parseFloat($(this).find(".input-amount").val());
            if (!isNaN(tax_amount) && !isNaN(amount) ) {
                total = total + tax_amount + amount;
                if(is_reset_total) {
                    $(this).find(".input-total-amount").val((tax_amount + amount).toFixed(2));
                }
            }
        });
        $(".total-all").text(total.toFixed(2));
    }

    function setTaxTypeRowState(){
        if (modelData.is_scale_small) { //小规模
            $(".tax-type-row").hide();
        } else {
            $(".tax-type-row").show();
        }
    }
    function initView() {
        $(".source-input").show();
        setTaxTypeRowState();
        isfee_change(modelData.is_fee);
        appendBillDetail(modelData.items);
        calcTotalSum();
    }
    /*费用切换*/
    function isfee_change(value) {
        if (value == "1" || value==true) {
            $(".memo-content .title").text("开支理由及用途");
            $(".fee-disable-row").hide();
            $(".pay-type-row").show();
            $(".tax-type-row").hide();
            $("input[name=tax_type]:checkbox").prop("checked", false);
            $.post("/VcrBill/getFeeAutoCompleteDatas", function (result) {
                if (result.code == 0) {
                    autocomplete($("input[name='goods_name[]']"), result.message);
                    $(document).data("goods_name", result.message);
                }
            }, "json");
        } else {
            setTaxTypeRowState();
            $(".memo-content .title").text("摘要");
            $(".fee-disable-row").show();
            $(".pay-type-row").hide();
            $.post("/VcrBillValueTax/getAutoCompleteDatas", {include: 4, bill_flag:"{$model.bill_flag}"}, function (result) {
                if (result.code == 0) {
                    autocomplete($("input[name='goods_name[]']"), result.message.goods_names);
                    $(document).data("goods_name", result.message.goods_names);
                }
            }, "json");
        }
    }
    /*删除明细*/
    function remove_detail_item(index){
        $(".detail-list .contents .content-"+index).remove();
        calcTotalSum();
    }
    function reset_detail_components(parent, data, is_fee, is_special_invo) {
        if (is_fee == 1 || is_fee == true) {
            $(parent).find(".goods-title").text("费用项目");
            $(parent).find(".fee-type input[type=radio][default]").prop("checked",true)
            detail_fee_type_change(parent, data.fee_type, is_fee, is_special_invo);
        } else {
            $(parent).find(".goods-title").text("货物或劳务、服务名称");
            $(parent).find(".fee-able").hide();
            $(parent).find(".fee-disable").show();
            toggle_detail_tax_fields(parent, true, is_special_invo);
        }
    }

    /*显示税相关字段
    /*自开：（一般纳税人，不管是否专用发票，都显示，小规模的话，受是否专票影响）*/
    /* 外来：（都受是否专票影响）*/
    function toggle_detail_tax_fields(parent, visible, is_special_invo){
        if (visible){
            $(parent).find(".tax-row").hide();
            if (is_special_invo){
                $(parent).find(".tax-row").show();
            }
        }else{
            $(parent).find(".tax-row").hide();
        }
    }
    /*费用来源类型切换 fee_type:0:其他，1：高速，2：路桥，3增值税*/
    function detail_fee_type_change(parent, fee_type, is_fee) {
        if (is_fee == 1 || is_fee == true) {
            if (fee_type == '3') {/*增值税专票*/
                toggle_detail_tax_fields(parent, true, true);
                $(parent).find(".total-amount-row").append($(parent).find(".total-amount-row-inner"));
                $(parent).find(".total-amount-title").show();
                $(parent).find(".total-amount-pannel").parent().hide();
                $(parent).find(".amount-row").show();
            } else {
                toggle_detail_tax_fields(parent, false);
                $(parent).find(".total-amount-pannel").append($(parent).find(".total-amount-row-inner"));
                $(parent).find(".total-amount-title").hide();
                $(parent).find(".total-amount-pannel").parent().show();
                $(parent).find(".amount-row").hide();
            }
            $(parent).find(".fee-able").show();
            $(parent).find(".fee-disable").hide();
        }
    }

    function action_add_detail() {
        appendBillDetail();
    }

    function appendBillDetail(json) {
        var items = [];
        var is_fee = modelData.is_fee;
        var is_special_invo = modelData.is_special_invo;
        if (json == '' || json == undefined) {
            var item = {
                goods_name: '',
                price: '',
                quantity: '',
                amount: '',
                tax_amount: '',
                total_amount: '',
                fee_type: 0,
                tax_rate: modelData.income_taxrate
            };
            //自开的，默认税率
            items.push(item);
            is_fee = $("input[name=is_fee]:checkbox").is(':checked');
            is_special_invo = $("input[name=tax_type]:checkbox").prop("checked");
        }else{
            items = JSON.parse(json);
        }
        $(items).each(function (index) {
            this.index = $(".detail-list .contents .content").length + 1;
            var $tpl = $(parseTemplate($("#tv-item-detail-tmp .content"), this));
            $(".detail-list .contents").append($tpl);
            $(".detail-list .contents").find("input").removeAttr("disabled"); //如果不这样设置，validate的时候会报错
            $.parser.parse(".detail-list .contents");
            $tpl.find(".input-price").change(function () {
                detailPriceChanged($tpl);
            });
            $tpl.find(".input-quantity").change(function () {
                detailQuantityChanged($tpl);
            });
            $tpl.find(".input-tax-rate").change(function () {
                detailTaxRateChanged($tpl);
            });
            $tpl.find(".input-total-amount").change(function () {
                detailTotalAmountChanged($tpl);
            });
            $tpl.find(".fee-type input[type=radio]").change(function () {
                var fee_type = $(this).val();
                detail_fee_type_change($tpl, fee_type, is_fee);
                if (fee_type == "{$Think.const.RATE_ROAD_BRIDGE}" || fee_type == "{$Think.const.RATE_EXPRESSWAY}"){
                    $tpl.find(".input-goods").val(fee_type == "{$Think.const.RATE_ROAD_BRIDGE}"?"过桥过路费":"高速路通行费");
                }
            });
            $tpl.find(".input-goods").focus();
            reset_detail_components($tpl, this, is_fee, is_special_invo);
        });
        autocomplete($(".detail-list .content input[name='goods_name[]']"), $(document).data("goods_name"));
        if (!is_fee) {
            autocomplete($(".detail-list .content input[name='unit[]']"), $(document).data("unit_name"));
        }
        calcTotalSum(true);
    }
    $(function(){
        setTimeout(function () {
            var $image = $('#image');
            if($image.attr("src") != ""){
                $image.viewer({
                    inline:true,
                    navbar: false,
                    title: false,
                    movable: true,
                    rotatable: false,
                    scalable: false,
                    keyboard: false,
                    fullscreen: false,
                    zoomRatio:false,
                    transition:false
                });
                $image.viewer('zoomTo', 1);
            }

        },100);
    });
    var scaleNum = 1;
    var rotatingNum = 0; 
    function ToAmplification(){
        scaleNum = scaleNum + 0.2;
        $("#img-big-view>img").css("transform",`scale(${scaleNum})`);
    }
    function ToNarrow(){
        scaleNum = scaleNum - 0.2;
        $("#img-big-view>img").css("transform",`scale(${scaleNum})`);
    }
    function ToRotating(){
        rotatingNum = rotatingNum + 90;
        $("#img-big-view").css("transform",`rotate(${rotatingNum}deg)`);
        $("#preview-img").css("transform",`rotate(${rotatingNum}deg)`);
        $("#max-img").css("transform",`rotate(${rotatingNum}deg)`);
    }
  
    $(function () {
        var oBig = document.querySelector("#preview-img");
        // console.log(oBig.offsetWidth)//0
        // console.log(oBig.offsetHeight)//0
        var oImg = document.querySelector("#preview-img>img");
        var oMark = document.querySelector(".mark");
        // console.log(oMark.offsetLeft)//0
        // console.log(oMark.offsetTop)//0
        var oFloat = document.querySelector(".float_layer");
        // console.log(oFloat.offsetWidth)//0
        // console.log(oFloat.offsetHeight)//0
        oMark.onmouseover = function () {
            $(".float_layer").show();
            $("#preview-img").show();
        }
        oMark.onmouseout = function () {
            $(".float_layer").hide();
            $("#preview-img").hide();
        }
        oMark.onmousemove = function (ev) {
            var oEvent = ev || event;
            var l = oEvent.offsetX-25;
            var t = oEvent.offsetY-25;
            if (l < 0) {
                l = 0;
            }else if (l > oMark.offsetWidth - oFloat.offsetWidth) {
                l = oMark.offsetWidth - oFloat.offsetWidth; 
            }

            if (t < 0) {
                t = 0;
            }else if (t > oMark.offsetHeight - oFloat.offsetHeight) { 
                t = oMark.offsetHeight - oFloat.offsetHeight; 
            }
            oFloat.style.left = l + 'px';
            oFloat.style.top = t + 'px';
            
            var tempX = l / (oMark.offsetWidth - oFloat.offsetWidth);
            var tempY = t / (oMark.offsetHeight - oFloat.offsetHeight);

            oImg.style.left = -tempX * (oImg.offsetWidth - oBig.offsetWidth) + 'px';
            oImg.style.top = -tempY * (oImg.offsetHeight - oBig.offsetHeight) + 'px';
        }
        $("#viewer").on("click","li",function(){
            $("#img-big-view>img").attr("src",$(event.target).attr("data-original"));
            $("#preview-img>img").attr("src",$(event.target).attr("data-original"));
            $("#max-img").attr("src",$(event.target).attr("data-original"));
            // console.log($(event.target).attr("data-original"))
        })
    });
</script>

