<!-- 弹窗模块 -->
<!--<div id="modal-share" onclick="">
	<img class="arrow" src="/Public/template/2016/images/share-it.png">
	<a href="#" id="follow">点击右上角按钮，分享给朋友</a>
</div>-->
<div id="modal-rules" class="modal-rules">
	<section id="rules" class="rules">
		<div class="rules-title">
			<div>分享规则说明</div>
			<span id="close-all">×</span>
		</div>
		<div class="rules-content">
			凡是注册成为平台的用户，都可参与“分享有奖”活动，分享平台赚取收益，具体规则如下：<br/>
		    <font class="basecolor">1.如何拥有一级会员与二级会员？</font><br/>
		    • 平台在“<font class="basecolor">我要分享</font>”中为每个用户提供专属的<font class="basecolor">二维码?</font>，您可以通过分享二维码邀请好友注册；<br/>
		    • 凡通过该二维码成功注册平台的用户，都将自动成为您的<font class="basecolor">一级会员</font>；<br/>
		    • 凡通过一级会员的专属二维码成功注册平台的用户，都将自动成为您的<font class="basecolor">二级会员</font>。<br/><br/>
		    
		    <font class="basecolor">2.拥有会员后，如何获取我的收益？</font><br/>
		    • <font class="basecolor">一级会员</font>在平台成交订单后产生交易服务费，您将获取该交易服务费的<font class="basecolor">15%</font>收益；<br/>
		    • <font class="basecolor">二级会员</font>在平台成交订单后产生交易服务费，您将获取该交易服务费的<font class="basecolor">10%</font>收益；<br/>
		    而<font class="basecolor">一级会员</font>将获取该交易服务费中的<font class="basecolor">15%</font>收益。<br/>
		    • 平台<font class="basecolor">单笔交易服务费</font>=单笔交易金额*20%；

		    例如：<br/>
		    • 您分享二维码邀请朋友A注册平台，成为您的一级会员，若A通过平台成交了金额2000元（交易佣金400元）的单子，则您将获取<font class="basecolor">60元</font>的收益；<br/>
		    • 若A分享自己的二维码邀请朋友B注册平台，则B成为您的二级会员，若B通过平台成交了金额2000元（交易佣金400元）的单子，则您将获取<font class="basecolor">40元</font>的收益。<br/>
		    A也将获得<font class="basecolor">60元</font>的收益。<br/><br/>
		    
		    <font class="basecolor">3.如何提现我的收益？</font><br/>
		    • 可提现收益<font class="basecolor">超过100元</font>时，您可以进行提现申请；<br/>
		    • 提现手续费为<font class="basecolor">2元</font>，将从您的收益中直接扣取；<br/>
		    • 平台将在<font class="basecolor">1-3个</font>工作日内对提现申请进行审核，并结算汇款至提现账户，到账时间以银行为准。<br/><br/>
		</div>	
	</section>
</div>

<!-- 弹窗模块end -->