<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
    <title>财穗快线</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}mui/mui.css">
    <link href="/{$Think.MODULE_PATH}Public/popup/popup.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}reset.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}style.css" rel="stylesheet" />
    <script src="{$Think.const.JS_URL}jquery.min.js"></script>
    <script src="/{$Think.MODULE_PATH}Public/popup/popup.js"></script>
    <script src="{$Think.const.JS_URL}mui/mui.min.js"></script>
    
</head>
<body>
    <include file="Index:header" />
    <section class="qrcode-wrap pt85">
    	<div class="qrcode-title">二维码</div>
    	<img src="http://eshop26.caisuikx.com/Application/EShop/Public/images/revision/share-codePic.png"/>
    	<div class="qrcode-tip">长按识别二维码</div>
    </section>


</body>

</html>
