<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
    <title>财穗快线</title>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}mui/mui.css">
    <link href="/{$Think.MODULE_PATH}Public/popup/popup.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}reset.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}style.css" rel="stylesheet" />
    <script src="{$Think.const.JS_URL}jquery.min.js"></script>
    <script src="/{$Think.MODULE_PATH}Public/popup/popup.js"></script>
    <script src="{$Think.const.JS_URL}mui/mui.min.js"></script>
    
</head>
<body>
    <include file="Index:header" />
    <section class="withdraw-detail-wrap pt85">
    	<form action="">
    		<div class="withdraw-detail-input">
    			<div class="flex-between">
    				<div class="pr">
    					<label for="">提现金额</label>
    					<i></i>
    					<input type="number" />
    				</div>
    				
    				<div class="withdraw-all">
    					<span></span>
    					全部提现
    				</div>
    			</div>
    			<div class="withdraw-detail-total">可提现金额：<span>￥600元</span></div>
    		</div>
    		<div class="withdraw-detail-tip">
    			<input name="" rows="" cols="" placeholder="添加备注说明" />
    		</div>
    		<button>确认提现</button>
    	</form>
    </section>


</body>

</html>
