<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;">
</button>
<div class="modal right fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="margin-top: -134px;">
			<img style="width: 100%;margin-top: 20%;" id="modal_show_pic"/>
			<span  style="margin-left: 44%;margin-right: 45%;" id="show_pic_close"><img style="margin-top: 5%;" src="{$Think.const.IMG_URL}voucher/close_img.png"></span>
	</div>
</div>