<include file="UserSupervise:head"/>
<style>
	.mui-indexed-list-inner img {
	    width: .28rem;
	    height: .28rem;
	    margin-right: .2rem;
	}
	.mui-indexed-list-inner .company-item {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
		height: .75rem;
		line-height: .75rem;
	    padding: 0 .2rem;
	    box-shadow: 0 1px 0 #eeeeee inset;
	    background-color: #ffffff;
	}
	.mui-indexed-list-inner {
		border-radius: .1rem;
	}
</style>
<body>
<section class="common-wrap fixed-page bg-none" style="overflow: hidden;">
	<div class="mui-search-area">
		<input class="mui-search-area-input mui-input-clear" type="text" placeholder="请输入客户姓名搜索"/>
		<button></button>
	</div>
	<div class="mui-indexed-list-inner">
        <div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div>
        <div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div><div class="company-item">
            <img src="{$Think.const.IMG_URL}/img/icon-company.png" alt="">
            <span class="gray-6">厦门安迩科技有限公司</span>
        </div>
	</div>

</section>
<include file="UserSupervise:foot_access_file"/>

</body>
</html>
