<include file="UserSupervise:head"/>
<link href="/{$Think.APP_PATH}Public/mui/css/mui.picker.min.css" rel="stylesheet" />
<link href="/{$Think.MODULE_PATH}Public/css/listSearch.css" rel="stylesheet" />
<style>
    .modal input[type='text'] {
        margin: 0 0;
        padding: 0 .1rem;
        border: 1px solid #e9e9e9;
    }

    #empty {
        padding: 10%;
        text-align: center;
        background-color: #ffffff
    }

    .del {
        margin-right: .2rem;
        height: .75rem;
        color: red;
        border: 1px solid red;
    }

    html,
    body {
        position: relative;
        height: 100%;
        min-height: 100%;
    }

    .mui-bar {
        position: fixed !important;
    }

    .item-wrap {
        overflow: auto;
        width: 100% !important;
    }

    .item-container {
        float: left;
        margin: 0 auto;
        width: 100%;
        overflow: auto;
    }

    .item-container li {
        float: left;
        overflow: hidden;
        width: 100%;
    }
    #content-list::-webkit-scrollbar {
        width: 6px;
        border-radius: 3px;
        background-color: #eee;
    }
    #content-list::-webkit-scrollbar-thumb{
        border-radius: 3px;
        background: #999999;
    }
    .item-wrap::-webkit-scrollbar {
        /*隐藏滚轮*/
        display: none;
    }
    /* tab */
    .wrk-tab-item{
        width: 1.3rem;
    }
    /* card */
    .list-card-icon-company{
        float: left;
        width: 0.38rem;
        height: 0.38rem;
        margin: 0.01rem 0.18rem 0 0;
        background-image: url("/{$Think.MODULE_PATH}Public/images/icon/icon-company.png");
        background-size: 100% 100%;
    }
    .list-card-companyName{
        float: left;
        width: auto;
        font-size: 0.3rem;
        color: #666666;
    }
    .list-card-time{
        font-size: 0.24rem;
        color: #acabab;
        margin-left: 0.6rem;
        
    }
    .list-card-state{
        width: 1.05rem;
        height: 0.4rem;
        line-height: 0.4rem;
        font-size: 0.22rem;
        text-align: center;
        position: absolute;
        top:0;
        right: 0.18rem;
        color: #77c9f0;
        background-color: #ebf8fe;
    }
    /* list-card-line */
    .list-card-line{
        margin: 0.18rem 0;
        overflow: hidden;
    }
    .list-card-line-label{
        float: left;
        width: 2.0rem;
        text-align: right;
        color: #999999;
    }
    .list-card-line-content{
        float: left;
        text-indent: 0.2rem;
    } 
    .list-card-sure{
        position: absolute;
        bottom: 0.4rem;
        right: 0.3rem;
        color: #4591fe;
        padding: 0 0.2rem;
        border: 1px solid #4591fe;
        border-radius: 0.1rem;
        z-index: 88;
    }
    /* 年份选择 */ 
    .search-year{
        width: calc(100% - 0.4rem);
        margin: 0.18rem 0.2rem 0;
        height: 0.95rem;
        background-color: #fefefe;
        border-radius: 0.04rem;
        white-space: nowrap;
    }
    #search-year-content{
        float: left;
        border: none;
        line-height:0.95rem;
        width: 5.7rem;
        height: 0.95rem;
        margin: 0;
        padding: 0.1rem 0.48rem;
    }
</style>

<body>
<include file="Index:header" />

<div id="list-header">
    <!-- tab分栏 -->
    <!-- 搜索 -->
    <div class="search-fixed">
        <!-- 年份筛选 -->
        <div class="search-year">
            <div class="search-label">查看年份</div>
            <input id="search-year-content" type="text" value="" onclick="searchYear()" placeholder="请选择年份" readonly>
        </div>
    </div>
</div>

<!-- 列表 -->
<section class="common-wrap bg-none">
    <div id="list-box" style="margin-top: 2.36rem;margin-bottom: 10%">
        <div class="mui-content" id="main-content">
            <div class="item-wrap">
                <ul class="item-container">
                    <li v-for="(item,index) in OperateTemplate_list" :id="item.item_id" style="margin-bottom:0.19rem;border-radius: 0.04rem;">
                        <div class="list-card">
                            <div style="border-bottom:1px solid #d3d3d3;padding:0.1rem 0;display: flex;align-items: center;overflow: hidden;">
                                <div class="list-card-icon-company"></div>
                                <div class="list-card-companyName">{{item.company_name}}</div>
                            </div>
                            <div class="list-card-line">
                                <div class="list-card-line-label">最新通知时间：</div>
                                <div class="list-card-line-content">{{item.created_at}}</div>
                            </div>
                            <div class="list-card-line" @click="toDetail(item)">
                                <div class="list-card-line-label">通知次数：</div>
                                <div class="list-card-line-content">{{item.number}}<span style="color: #4591fe;">(查看详情)</span></div>
                            </div>
                            <div class="list-card-line">
                                <div class="list-card-line-label">消息状态：</div>
                                <div class="list-card-line-content">{{item.message_state}}</div>
                            </div>
                            <div class="list-card-line">
                                <div class="list-card-line-label">应缴人数：</div>
                                <div class="list-card-line-content">{{item.insured_number}}</div>
                            </div>
                            <div class="list-card-line">
                                <div class="list-card-line-label">社保金额：</div>
                                <div class="list-card-line-content">{{item.insurance_amount}}</div>
                            </div>
                            <div class="list-card-state">{{item.month}}</div>
                        </div>
                    </li>
                    <li v-if="OperateTemplate_list.length == 0" style="padding: 6%;text-align: center;background-color: #ffffff;">
                        <p style="color: rgb(128, 128, 128);"> 没有数据</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<include file="UserSupervise:foot_access_file"/>

<script src="/{$Think.const.MODULE_PATH}/Public/js/jquery.min.js"></script>
<script src="/{$Think.const.MODULE_PATH}/Public/vue/vue.min.js"></script>
<script src="/{$Think.const.MODULE_PATH}/Public/js/common.js"></script>
<script src="/{$Think.APP_PATH}Public/mui/js/mui.picker.min.js"></script>

<script type="text/javascript">
    var companyInfo = new Vue({
        el: "#main-content",
        data: {
            OperateTemplate_list:{$list},
        },
        methods: {
            toDetail: function (item) {
                var aryData = item.detail;
                var contentText = "";
                aryData.forEach(function(v,i,ary){
                    contentText += `<div style="display:flex;justify-content: space-between;align-items: center;margin-bottom:0.05rem;width:100%;">
                                        <div style="margin-right:0.1rem;white-space: nowrap;flex:0.5;text-align:right;">第${v.count}次
                                        </div><div style="white-space: nowrap;flex:1.5;text-align:left;">时间：${v.time}</div></div>`
                });
                var titleStr = `<div style="color: #999999;font-size: 0.3rem;text-align:center;">通知详情</div>`;
                var contentStr = `<div id="content-list" style="color: #3b3c3b;font-size: 0.26rem;width:100%;height:3.9rem;overflow-y:auto;">${contentText}</div>`;
                mui.confirm(contentStr,titleStr,["确认"],function(e){});
            }
        }
    });

    // 年份选择控件
    var yearPicker = new mui.DtPicker({"type":"month"});
    $("#search-year-content").val({$year});
    function searchYear(){
        // 隐藏月份
        $("h5[data-id=title-m]").hide();
        $(".mui-picker[data-id=picker-m]").hide();
        $("h5[data-id=title-y]").width("84%");
        $(".mui-picker[data-id=picker-y]").width("100%");
        // 显示选择器
        yearPicker.show(function (selectItems) {
            $.getJSON("/SocialSecurityNotice/list/company_id/"+{$company_id}+"/year/"+selectItems.y.value,function (data) {
                companyInfo.OperateTemplate_list = data;
                $("#search-year-content").val(selectItems.y.value);
            })
        })
    }
    
    // autoHeight
    function autoHeight(){
        $("#list-box").css("margin-top",$("#list-header").height() + $("#header").height());
    }
    autoHeight()
</script>

