<style>
    ::-webkit-scrollbar {
        display: none;
    }
    #SysUser-maincontainer .department-tree{
        width: 260px;
    }
</style>
<div class="maincontainer" id="{$Think.const.CONTROLLER_NAME}-maincontainer" style="display: flex;  flex-flow: row;">
    <div style="flex:1; height: 100%;" >
        <div class="maincontainer">
            <ul style="border: 0px #F2F2F2 solid;height: 99%;overflow-y: auto;" class="department-tree" data-options="animate:true"></ul>
        </div>
    </div>

    <div style="flex:4; height: 100%;">
            <include file="./Application/Common/Layout/Default/list_header.html"  controller="{$Think.const.CONTROLLER_NAME}" />
            <tr> 
                <th data-options="field:'id',hidden:true">{$Think.lang.FLD_ID}</th>  
                <th data-options="field:'account',width:120,align:'left'">{$Think.lang.FLD_ACCOUNT}</th>
                <th data-options="field:'no',width:120,align:'left'">{$Think.lang.FLD_NO}</th>
                <th data-options="field:'name',width:120,align:'left'">{$Think.lang.FLD_USER_NAME}</th>
                <th data-options="field:'company_name',width:120,align:'left'">{$Think.lang.FLD_DEPARTMENT}</th>
                <th data-options="field:'mobile',width:120,align:'left'">{$Think.lang.FLD_MOBILE}</th>
                <th data-options="field:'is_valid',width:40,align:'left',formatter:formatValidState">{$Think.lang.FLD_IS_VALID}</th>
                <th data-options="field:'reg_time',width:120,align:'left',formatter:formatDateTime">注册时间</th>
                <th data-options="field:'last_time',width:120,align:'left',formatter:formatDateTime">{$Think.lang.FLD_LAST_TIME}</th>
                <th data-options="field:'login_count',width:120,align:'left'">{$Think.lang.FLD_LOGIN_COUNT}</th>
                <th data-options="field:'resetpwd',width:120,align:'center',formatter:formatsetUserPwd">重置密码</th>
            </tr>
            <include file="./Application/Common/Layout/Default/list_footer.html"  controller="{$Think.const.CONTROLLER_NAME}" />
        </div>
    </div>
</div>
<div class="search-panel" id="{$Think.const.CONTROLLER_NAME}-search-panel" style="display: none">
    <table class="search-table">
        <tr>
            <th>姓名：</th>
            <td>
                <input name="q-branch_id" type="hidden" class="easyui-validatebox filter-field user-branch-id" value="" />
                <input name="ql-name"  class="easyui-validatebox filter-field" value="" style="width: 150px"/>
            </td>
            <th>{$Think.lang.FLD_USER_TYPE}：</th>
            <td>
                <select  name="q-user_type" class="easyui-validatebox filter-field" style="width: 150px">
                    <option value="" selected>  </option>
                    <option value="{$Think.const.USER_TYPE_COMPANY_MANAGER}">公司管理</option>
                    <option value="{$Think.const.USER_TYPE_COMPANY_SALES}">财务人员</option>
                    <option value="{$Think.const.USER_TYPE_CUSTOMER}">代账客户</option>
                    <option value="{$Think.const.USER_TYPE_PROSPECTIVE}">潜在客户</option>
                </select>
            </td>
            <th>角色组：</th>
            <td>
                <select name="role_ids" class="chosen-select filter-field" data-placeholder=""
                        data-options="all:true,search_key_url:'SysRole/keyNameList',empty_line:true" style="width:150px">
                </select>
            </td>
            <th>电话：</th>
            <td>
                <input name="ql-mobile"  class="easyui-validatebox filter-field" value="" style="width: 150px"/>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        initial_branch_tree("{$Think.const.CONTROLLER_NAME}", "ComDepartment/tree", getUserQueryParams);
        re_bind_action_add("{$Think.const.CONTROLLER_NAME}", function () {
            user_action_add("{$Think.const.CONTROLLER_NAME}");
        });
    });
    function getUserQueryParams(node){
        $(".user-branch-id").val(node.id);
        var inputParams = getQueryParams($(".filter-field"));
        return inputParams;
    }
    function user_action_add() {
        add_branch_x(255, "branch_id", "{$Think.const.CONTROLLER_NAME}");
    }

    $("select[name='role_ids']").on("change",function(){
        doSearchQuery("SysUser");
    })
</script>
