<div class="detailcontainer" id="subject-import-detailcontainer" style="width:380px; height:160px;margin: 20px 20px 0 20px">
    <div style="padding-bottom:10px;width:100%">导入前，将excel文件另存为csv文件，导入速度将提升5倍！</div>
    <form  action="{$Think.const.CONTROLLER_NAME}/import"  id="subject-import-form" method="post" enctype="multipart/form-data" style="width:360px;position: relative">
        <input type="file" id="subject-file" name="subject_file" accept="*.xls,*.xlsx,*.csv" class="easyui-file" title="企业科目："/>
        <div  style="padding: 10px 5px 0 0; margin-top: 10px">
            <input type="checkbox" class="css-checkbox" id="reset_data" name="reset_data" value="1" />
            <label class="css-label" for="reset_data"><span style="padding-left: 5px">清除旧数据（如果只是科目更新，请勿勾选此项）</span></label>
        </div>
    </form>

    <div class="btn-group" style="margin-top: 20px">
        <input class="blue-btn" type="button" value="导入" onclick="importSubject()"/>
        <input class="square-btn" type="button" value="取消" onclick="closeDialog();"/>
    </div>
</div>
<script type="text/javascript">
    $("input[name='reset_data']").change(function(){
        if ($(this).prop("checked") == true){
            $.dialog.alert("勾选此项，原有的科目将被清除，一般只有导入错误才选择此项");
        }
    });

    function importSubject() {
        var customer = $(".page-selected .company-name").text();
        if (customer != "") {
            action_import("subject-file", "VcrSubject/import", "确定导入客户【" + customer + "】的科目资料？", function () {
                setTimeout('getDataGrid("{$Think.const.CONTROLLER_NAME}").treegrid("reload")', 2000);
                if(typeof setTabTitle == "function"){
                    setTabTitle();
                }
            })
        }
    }
</script>