<script>
    function formatIsMaped(value, row, index) {
        if (row.std_subject_no != "") {
            return "<i class='fa fa-check' style='color:dodgerblue;' title='是'></i>";
        }
    }
    function formatIsNew(value, row, index) {
        if (value == "1") {
            return "<i class='fa fa-check' style='color:dodgerblue;' title='是'></i>";
        }
    }
</script>
<div class="maincontainer" id="{$Think.const.CONTROLLER_NAME}-maincontainer">
    <include file="./Application/Common/Layout/Default/tree_header.html"  controller="{$Think.const.CONTROLLER_NAME}" />
    <tr> 
        <th data-options="field:'id',hidden:true">{$Think.lang.FLD_ID}</th>  
        <th data-options="field:'name',width:200,align:'left'">{$Think.lang.FLD_NAME}</th>
        <th data-options="field:'no',width:120,align:'left',sortable:true">{$Think.lang.FLD_ID}</th>
        <!-- <th data-options="field:'full_name',width:240,align:'left'">{$Think.lang.FLD_FULL_NAME}</th> -->
        <th data-options="field:'is_mapped',width:100,align:'center',formatter:formatIsMaped">{$Think.lang.FLD_IS_MAPPED}</th>
        <th data-options="field:'is_new',width:100,align:'center',formatter:formatIsNew">{$Think.lang.FLD_IS_NEW}</th>
        <th data-options="field:'type_name',width:120,align:'left'">{$Think.lang.FLD_TYPE_NAME}</th>
        <th data-options="field:'parent_name',width:120,align:'left'">{$Think.lang.FLD_PARENT_ID}</th>
        <th data-options="field:'branch_name',width:180,align:'left'">公司名称</th>
        <th data-options="field:'std_subject_no',width:100,align:'left'">标准科目编号</th>
        <th data-options="field:'std_subject_name',width:100,align:'left'">标准科目名称</th>
        <th data-options="field:'sort',width:120,align:'left'">{$Think.lang.FLD_SORT}</th>
    </tr>
    <include file="./Application/Common/Layout/Default/list_footer.html"  controller="{$Think.const.CONTROLLER_NAME}" />
</div>
<div class="search-panel" id="{$Think.const.CONTROLLER_NAME}-search-panel" style="display: none">
    <table class="search-table">
        <tr>
            <th>科目编号：</th>
            <td>
                <input name="ql-no"  class="easyui-validatebox filter-field" value="" />
            </td>
            <th>科目名称：</th>
            <td>
                <input name="ql-name"  class="easyui-validatebox filter-field" value="" />
            </td>
            <th>科目层级：</th>
            <td>
                 <select name="q-level" class="chosen-select filter-field">
                    <option value=""></option>
                    <option value="0">一级</option>
                    <option value="1">二级</option>
                    <option value="2">三级</option>
                </select>
            </td>
            <th>科目类别：</th>
            <td>
                <select name="q-type_id" class="filter-field" data-options="search_key_url:'VcrSubject/getEnterpriceTypes/'">
                </select>
            </td>

        </tr>
    </table>
</div>
<div id="{$Think.const.CONTROLLER_NAME}-action-extend">
    <a href="javascript:void(0)" class="easyui-linkbutton fontawesome-icon-button" style="width:auto" icon="fa fa-download fa-lg" plain="true" onclick="action_show_importdlg()">导入</a><div class="btn-separator"></div>
    <a href="javascript:void(0)" class="easyui-linkbutton fontawesome-icon-button" style="width:auto" icon="fa fa-window-restore fa-lg" plain="true" onclick="action_show_mapdlg()">标准科目映射</a><div class="btn-separator"></div>
</div>


<script>
    $("input[name='q-ent_type_id']").combobox({
        onSelect:function(row){
            $("input[name='q-ent_type_id']").addClass("filter-field");
            doSearchQuery('VcrSysSubject')
        }
    });
    function action_show_importdlg() {
        createDialog("/VcrSubject/import", "导入科目", "dlg-subject-import");
    }
    
    function action_subject_import() {
        var customer = $("#customer-info").text();
        if (customer != "") {
            action_import("subject-file", "VcrSubject/import", "确定导入客户【" + customer + "】的科目资料？", function () {
                setTimeout('getDataGrid("{$Think.const.CONTROLLER_NAME}").treegrid("reload")', 2000);
            })
        }
    }

    function action_show_mapdlg(){
        createDialog("/VcrSubject/displayMapView", "标准科目映射", "dlg-subject-import");
    }


</script>