<include file="UserSupervise:head"/>
<body>
	<include file="Index:header" />
	<section class="secondary-wrap match-view-wrap">
		<!--绑定公司1人对多公司-->
	    <div class="basic-info mb30">
	    	<div class="title">绑定公司</div>
	    	<div class="flex-direction-center pt20" style="height: 2.6rem;border-bottom: 1px dashed #eeeeee;">
	    		<img class="header-img-134 mb20" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
	    		<span class="mb20 gray-6">昵称：米兰达</span>
	    	</div>
	    	<div class="pd1525">
	    		<div class="gray-c9 font24">关注时间：2018-08-18 18:18:18</div>
	    		<div class="red-f17485 font24">绑定手机：18950222222</div>
	    		<div class="gray-c9 font24">绑定时间：2018-08-18 18:18:18</div>
	    	</div>
	    </div>
	    <!--绑定公司几人对多公司-->
	    <div class="basic-info mb20">
	    	<div class="title">绑定公司</div>
	    	<div class="flex-wrap topic pt20" style="">
	    		<div class="flex-direction-center wd33">
	    			<img class="header-img-134 mb20" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
	    			<span class="mb20 gray-6">米兰达</span>
	    		</div>
	    		<div class="flex-direction-center wd33">
	    			<img class="header-img-134 mb20" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
	    			<span class="mb20 gray-6">米兰达</span>
	    		</div>
	    		<div class="flex-direction-center wd33">
	    			<img class="header-img-134 mb20" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
	    			<span class="mb20 gray-6">米兰达</span>
	    		</div>
	    		<div class="flex-direction-center wd33">
	    			<img class="header-img-134 mb20" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
	    			<span class="mb20 gray-6">米兰达</span>
	    		</div>
	    		<div class="flex-direction-center wd33">
	    			<img class="header-img-134 mb20" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
	    			<span class="mb20 gray-6">米兰达</span>
	    		</div>
	    	</div>
	    </div>
	    <div class="basic-info mb20">
	    	<div class="title">选择公司</div>
	    	<div class="ptb3015">
	    		<div class="flex-start mb15">
            		<div class="wd30 tr black-3">公司名称：</div>
            		<div class="company-selected wd60">
		    			<div class="black-3">厦门可及网络科技有限公司</div>
		    			<div class="select-icon1"></div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="basic-info pr">
	    	<div class="del-selected"></div>
	    	<div class="title">公司信息</div>
	    	<div class="ptb3015">
	    		<div class="flex-start mb15">
            		<div class="wd30 tr black-3">公司名称：</div>
            		<div class="company-selected wd60">
		    			<div class="black-3">厦门可及网络科技有限公司</div>
		    		</div>
	    		</div>
	    		<div class="flex-start mb15">
            		<div class="wd30 tr black-3">联系人：</div>
            		<div class="company-selected wd60">
		    			<div class="black-3">王天一</div>
		    		</div>
	    		</div>
	    		<div class="flex-start mb15">
            		<div class="wd30 tr black-3">手机：</div>
            		<div class="company-selected wd60">
		    			<div class="black-3">18020602060</div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <div style="height: 1.45rem;"></div>
	    <div class="bottom-btn">
            <button id="" class="left-btn">取消</button>
            <button id="cancel">保存</button>
    
        </div>
	</section>

	<include file="UserSupervise:foot_access_file"/>

</body>
</html>