<include file="UserSupervise:head"/>
<body>
	<include file="Index:header" />
<li class="plr20 mb20 bg-white" data-value="{%pinyin%}" id="template-1" style="display:none" data-tags="{%pinyin%}" data-url="/UserSupervise/customer_detail/id/{%id%}">
    <div class="flex-between border-b">
	    <div class="check-div">
	    	<input type="checkbox" value="727">
	        <img src="{%head_pic%}" alt="">
	        <span class="nickname">{%name%}</span>
	    </div>
	    <div class="eidt-user"></div>
    </div>
    <div class="ptb15">
		<div class="flex-between line50 gray-9">
			<div>厦门恒益网络科技有限公司</div>
			<div>18020602060</div>
		</div>
		<div class="flex-between line50">
			<div class="icon-mark blue-4591fe dis-flex">
				分组：<span>{%group_name%}</span>
			</div>
			<div class="icon-mark blue-4591fe dis-flex">
				标签：<span>标签1</span>
			</div>
		</div>
	</div>
</li>

<section class="custom-wrap mt85" style="overflow: hidden;">
    <ul class="con-tab pr">
        <li id="list" class="cons">
        	<ul class="mui-main-tab">
		        <li onclick="window.location.href = '/UserManage/member.html'">会员</li>
		        <li class="active">粉丝</li>
		        <li onclick="window.location.href = '/UserManage/visitor.html'">访客</li>
		    </ul>
            <div class="mui-search-area">
                <input class="mui-search-area-input mui-input-clear" type="text" placeholder="请输入客户姓名搜索"/>
                <button></button>
            </div>
            <div class="match-check">
            	<div class="blue-checkbox flex-center blue-4591fe">
            		<input type="checkbox" id="checkAll"/>
            		<label for="checkAll">全选/取消全选</label>
            	</div>
            	<div class="select-match flex-center blue-4591fe">筛选<span class="ml10"></span></div>
            </div>
            <div class="mui-indexed-list-bar" style="display: none;">
				<a>A</a>
				<a>B</a>
				<a>C</a>
				<a>D</a>
				<a>E</a>
				<a>F</a>
				<a>G</a>
				<a>H</a>
				<a>I</a>
				<a>J</a>
				<a>K</a>
				<a>L</a>
				<a>M</a>
				<a>N</a>
				<a>O</a>
				<a>P</a>
				<a>Q</a>
				<a>R</a>
				<a>S</a>
				<a>T</a>
				<a>U</a>
				<a>V</a>
				<a>W</a>
				<a>X</a>
				<a>Y</a>
				<a>Z</a>
			</div>
            
			<div class="mui-indexed-list-alert"></div>
			<div class="mui-indexed-list-inner">
				<div class="mui-indexed-list-empty-alert">没有数据</div>
                <div class="groups customer bg-none">
                    <ul class="mui-table-view bg-none" id="customer_lists">
                    	<!--<div class="match-number">已选人数(89)</div>-->
                        <!--<foreach name="users" key="key" item="vos">
                            <foreach name="vos.items" key="k" item="vo">
                                <li data-value="{$vo.pinyin}" data-tags="{$vo.pinyin}" data-url="/UserSupervise/customer_detail/id/{$vo.id}">
                                    <div class="check-div">
                                        <img src="{$vo.head_pic}" alt="">
                                        <span class="nickname">{$vo.name}</span>
                                    </div>
                                    <div class="check-div blue-4591fe">
                                        <span>{$vo.group_name}</span>
                                        <span class="mui-icon mui-icon-arrowright"></span>
                                    </div>
                                </li>
                            </foreach>
                        </foreach>-->
                        <li class="plr20 mb20 bg-white" data-value="jdqbdr" data-tags="jdqbdr">
                        	<div class="flex-between border-b">
                        		<div class="check-div">
									<input type="checkbox" value="727">
									<img src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
									<span class="nickname">记得牵绊的人</span>
									<span class="tel">18020602060</span>
								</div>
								<a href="/UserManage/user_detail/id/2471" class="eidt-user"></a>
                        	</div>
							<div class="ptb15">
								<div class="flex-between line50 gray-9">
									<div>厦门恒益网络科技有限公司</div>
									<div>18020602060</div>
								</div>
								<div class="flex-between line50">
									<div class="icon-mark blue-4591fe dis-flex">
										分组：<span>分组1</span>
									</div>
									<div class="icon-mark blue-4591fe dis-flex">
										标签：<span>标签1</span>
										<span>标签1</span>
									</div>
								</div>
							</div>
						</li>
                    </ul>
                </div>
            </div>
            <div class="mui-bottom-check-commit">
				<button class="mr10 tag-group">分组标签</button>
				<button class="mr10">用户类型</button>
				<button class="mlr">关联公司</button>
				<button class="ml10">绑定通知</button>
			</div>
        </li>
    </ul>
    
</section>
<div class="slide-match-wrap flex-end">
	<div id="select-wrap" class="mui-select-wrap slideInRight animated pr">
    	<div class="groups tag" >
        	<div class="title gray-9">
        		<span>分组选择</span>
        		<div class="flex-between">
            		<span id="group-tip" class="question-mark" data-modal="groupModal"></span>
            	</div>
        	</div>
			<notempty name="groups">
				<div class="select-item">
					<volist name="groups" id="vo">
						<span data-id="{$vo.id}">{$vo.value}(1)</span>
					</volist>
				</div>
				<else/>
				<div class="no-create tc" >
					<div class="gray-9c">您尚未创建任何分组</div>
					<div>
						<a class="blue-4591fe" href="/UserSupervise/customer_groups.html">点击创建分组</a>
					</div>
				</div>
			</notempty>
        </div>
        <div class="groups tag" id="tag-wrap">
            <div class="title gray-9">
            	<span>标签</span>
            	<div class="flex-between">
            		<!--<span class="filter-level blue-4591fe addBtn"></span>-->
            		<!--<span class="filter-level blue-4591fe delBtn"></span>-->
            	</div>
                <div class="flex-between">
            		<span id="tag-tip" class="question-mark" data-modal="tagModal"></span>
            	</div>
            </div>

			<notempty name="tags">
				<div id="select-part">
					<div class="select-element">
						<div class="tag-title gray-9c">一级标签</div>
						<ul class="more-tag select-item">
							<volist name="tags" id="vo">
								<span data-id="{$vo.id}">{$vo.value}(1)</span>
							</volist>
						</ul>
					</div>
				</div>
				<div class="add-select-item flex-center mt15 mb15">
					<button class="confirm-match">确定</button>
					<button class="add-level-tag">添加下级标签</button>
				</div>
			<else/>
				<div class="no-create tc" >
					<div class="gray-9c">您尚未创建任何标签</div>
					<div>
						<a class="blue-4591fe" href="/UserSupervise/customer_tags.html">点击添加标签</a>
					</div>
				</div>
			</notempty>
        </div>
  	</div>
  	<div class="wrap-modal" id="groupModal" style="display: none;">
	    <div class="modal-common-wrap modal" style="width: 90%;">
	    	<div class="modal-title bg-e gray-9">分组提示<!--<span class="close-popup">×</span>--></div>
	        <div class="modal-content-text tc">选择分组时只可选择一个分组，<br>未选择时默认为未分组</div>
	        <div class="modal-btn">
	            <button class="popup-close">取消</button>
	            <button class="blue popup-complete">确认</button>
	        </div>
	    </div>
	</div>
	<div class="wrap-modal" id="tagModal" style="display: none;">
	    <div class="modal-common-wrap modal" style="width: 90%;">
	    	<div class="modal-title bg-e gray-9">标签提示<!--<span class="close-popup">×</span>--></div>
	        <div class="modal-content-text tc">对用户进行标签分类，可选择多级标签<br>对用户进行快速筛选</div>
	        <div class="modal-btn">
	            <button class="popup-close">取消</button>
	            <button class="blue popup-complete">确认</button>
	        </div>
	    </div>
	</div>
	
</div>
<div class="wrap-modal" id="divider-Modal" style="display: none;">
	    <div class="modal-common-wrap modal" style="width: 90%;">
	    	<div class="modal-title bg-e gray-9">分组标签<span class="close-popup">×</span></div>
	        <div class="modal-content">
	        	<div class="dis-flex mb15">
	    			<div class="wd25 tr">已选用户：</div>
		    		<div class="flex-1 operate-user">
		    			<span>洪学智</span>
		    			<span>吴郸</span>
		    			<span>阮立军</span>
		    			<span>汤林蓉</span>
		    			<span>小林</span>
		    			<span>黄娜婷</span>
		    			<span>小刘</span>
		    			<span>小李</span>
		    			<span>小曾</span>
		    		</div>
            	</div>
	        	<div class="flex-start mb15">
	    			<div class="wd25 tr">选择分组：</div>
	    			<div class="flex-1 flex-start">
	    				<div class="company-selected wd70">
			    			<div>未分组</div>
			    			<div class="select-icon1"></div>
			    		</div>
		    			<div class="new-group-tag blue-4591fe">移至新分组</div>
	    			</div>
		    		
            	</div>
            	<div class="flex-direction-start mb15" style="padding-left: 25%;">
	    			<input style="width: 65%;border: 1px solid #e9e9e9;" type="text" placeholder="请输入新分组名称"/>
	    			<button class="confirm-btn ml10 blue-4591fe">确定</button>
	    			<button class="confirm-btn red-e91835">取消</button>
	    		</div>
	        	<div class="flex-start mb15">
	    			<div class="wd25 tr">选择标签：</div>
	    			<div class="flex-1 flex-start">
	    				<div class="company-selected wd70">
			    			<div>湖里区</div>
			    			<div class="select-icon1"></div>
			    		</div>
			    		<div class="new-group-tag blue-4591fe">添加新标签</div>
	    			</div>
            	</div>
            	
            	<div class="flex-direction-start mb15" style="padding-left: 25%;">
	    			<input style="width: 65%;border: 1px solid #e9e9e9;" type="text" placeholder="请输入新分组名称"/>
	    			<button class="confirm-btn ml10 blue-4591fe">确定</button>
	    			<button class="confirm-btn red-e91835">取消</button>
	    		</div>
	    		<div class="flex-1 operate-user">
	    			<span>洪学智</span>
	    			<span>吴郸</span>
	    			<span>阮立军</span>
	    			<span>汤林蓉</span>
	    			<span>小林</span>
	    			<span>黄娜婷</span>
	    			<span>小刘</span>
	    			<span>小李</span>
	    			<span>小曾</span>
	    		</div>
	        </div>
	        <div class="modal-btn">
	            <button class="popup-close red-e91835">关闭</button>
	            <button class="blue popup-complete">确认</button>
	        </div>
	    </div>
	</div>
<include file="UserSupervise:foot_access_file"/>
<script src="{$Think.const.JS_URL}/mui/mui.indexedlist.js"></script>
<script>
	$('.tag-group').on('click',function(){
		console.log(1);
		$('#divider-Modal').show();
	})
	
	$('.confirm-match').on('click',function(){
		$(this).parents('.slide-match-wrap').removeClass('active');
		handlerCustomerLists();
	})
	$('.select-match').on('click',function(){
		$('.slide-match-wrap').addClass('active');
	})
	
	$('#tag-tip').on('click',function(){
		$('#tagModal').show();
	})
	
	$('#group-tip').on('click',function(){
		$('#groupModal').show();
	})
	
    $('.popup-close,.popup-complete').on('click',function(){
        $(this).parents('.wrap-modal').hide();
    })
	
    //定义last变量，记录第几次筛选
    var bufferTime = 1000;
    var last = 0;
    var levelArray = ['一级标签','二级标签','三级标签','四级标签','五级标签','六级标签','七级标签','八级标签','九级标签','十级标签'];
    $('.more-tag span').addClass('select'+ last);
    //被点击的li新增标记active类名
    $('.select-item span').on('click',function(){
        $(this).toggleClass('active');
        if ( bufferTime == 1000){
            timer();
        } else {
            bufferTime = 1000
        }
    })
    $('#customer_lists').on('click','li',function(){
        var url = $(this).data('url');
        if(url) {
            window.location.href = url;
        }
    })
    function timer(){
        setTimeout(function(){
            bufferTime = bufferTime - 100;
//          console.log(bufferTime)
            if(bufferTime == 0){
                bufferTime = 1000;
//              handlerCustomerLists();
            } else {
                timer()
            }
        },100)
    }
    //为第一个按钮注册事件
    $('.add-level-tag').on('click',function(){
        var self = $(this);
        filterLi(self);
    })
    //处理用户列表
    function handlerCustomerLists()
    {
        var groupDom = $('#select-wrap').find('div:first > .select-item > .active');
        var tagSingleDom = $('#select-wrap').find('#tag-wrap > #select-part > .select-element');
        var tagDom = tagSingleDom.find('.select-item > .active');
        var groupIds = [];
        var tagIds = [];
        if (groupDom.length > 0 ) {
            groupIds = groupDom.map(function(){
                return $(this).data('id')
            }).get();
        }
        if (tagDom.length > 0) {
            tagSingleDom.map(function(){
                var tagSingleIds = $(this).find('.select-item > .active');
                if (tagSingleIds.length > 0) {
                    var template = tagSingleIds.map(function(){
                        return $(this).data('id')
                    }).get();
                    tagIds.push(template);
                }
            });
        }

        $.post('/UserSupervise/getCustomerLists',{groups:groupIds,tags:tagIds},function(data){
            var html = '';
            if(data) {
                for (j in data) {
//                  html += '<li class="title" data-group="'+j+'">'+j+'</li>';
					html += '';
                    for ( var i = 0 ; i < data[j]['items'].length; i ++) {
                        // if (j == 'Other' && data[j]['items'][i]['name'].length > 2){
                         //    data[j]['items'][i]['name'] = decodeURI(data[j]['items'][i]['name']);
                         //    data[j]['items'][i]['pinyin'] = decodeURI(data[j]['items'][i]['pinyin']);
                         //    data[j]['items'][i]['first_char'] = decodeURI(data[j]['items'][i]['first_char']);
						// }
						html += parseTemplate('template-1', data[j]['items'][i]);

                    }
                }
            }
            $('#customer_lists').html(html);
        },'json');

    }

    function parseTemplate(target, jsobject){
        var tpl = $('#'+target).prop("outerHTML").replace("display:none","").replace("id=\""+target+"\"","");
        var reg = new RegExp("\{%([^%}]*)?%\}", "g");
        var matchs = tpl.match(reg);
        if (matchs != null) {
            for (var i = 0; i < matchs.length; i++) {
                var key = matchs[i].replace("{%", "").replace("%}", "");
                var val = $.isEmptyObject(jsobject[key]) ? "" : jsobject[key];
                tpl = tpl.replace(matchs[i], val);
            }
            return tpl;
        }
        return "";
    }
    function filterLi(self){
        last = last + 1;
        var ulClass = 'ul' + last;
        //获取没有被选中的同级li
        var child = self.parent('.add-select-item').siblings().find('.active').siblings('span').not('.active');
        //判断剩下的元素个数是否有筛选必要
        if(child.size() <= 0){
            alert('至少选择一个标签！');
            last = last - 1;
            return;
        }
        
        $("#select-part").append('<div class="select-element">'
        	+ '<div class="tag-title gray-9c">'
        	+ levelArray[last]
        	+ '</div><ul class="more-tag select-item '
        	+ ulClass
        	+ '"><div class="filter-level blue-4591fe delBtn"></div>'                    
		    + '</ul></div>'
        );
        child.appendTo('.' + ulClass);
        //上一个按钮已经筛选过，防止他第二次点击，解绑事件
        //self.off();

		
        //用js新增加的按钮没有绑定事件，在这里绑定
//      $('.addBtn').last().on('click',function(){
//          var self = $(this);
//          filterLi(self);
//      })
//		self.parents('.groups').find('.show-icon').off();
//		$('.show-icon').last().on('click',function(){
//          var self = $(this);
//          self.toggleClass('hide-icon').parent('.more-tag').toggleClass('active');
//      })
		$('.delBtn').off();
        $('.delBtn').last().on('click',function(){
            var self = $(this);
            filterDel(self);
        })
        if(last >= 9){
        	$('.add-level-tag').prop('disabled',true);
        } else {
        	$('.add-level-tag').prop('disabled',false);
        }
    }
    
    $('.delBtn').on('click',function(){
    	var self = $(this);
    	filterDel(self);
    })
    
    function filterDel(self){
    	last = last - 1;
    	console.log(last);
    	var pre = last - 1;
        var preUlClass = 'ul' + pre;
    	var child = self.siblings().removeClass('active');
    	child.appendTo(self.parents('.select-element').prev().children('.more-tag'));
		$('.delBtn').off();
		self.off();
		self.parents('.select-element').remove();
		$('.delBtn').last().on('click',function(){
	        var self = $(this);
	        filterDel(self);
	    })
    	handlerCustomerLists();
//  	$('.addBtn').last().on('click',function(){
//          var self = $(this);
//          filterLi(self);
//    	})
//  	self.find('.show-icon').off();
//  	$('.show-icon').last().on('click',function(){
//          var self = $(this);
//          self.toggleClass('hide-icon').parent('.more-tag').toggleClass('active');
//      })
		if(last > 9){
        	$('.add-level-tag').prop('disabled',true);
        } else {
        	$('.add-level-tag').prop('disabled',false);
        }
    }
</script>
<script type="text/javascript">
	
	mui.init();
    mui.ready(function() {
		var list = document.getElementById('list');

        //create
        window.indexedList = new mui.IndexedList(list);

    });
	
	$('.show-icon').last().on('click',function(){
        var self = $(this);
        self.toggleClass('hide-icon').parent('.more-tag').toggleClass('active');
    })
	
    $('#edit-group').on('click',function(){
        $('#creat-group').toggleClass('hide');
        $(this).parents('.edit-groups').toggleClass('active');
    })

    $('#edit-tag').on('click',function(){
        $('#creat-tag').toggleClass('hide');
        $(this).parents('.edit-groups').toggleClass('active');
    })

    // $(".main-tab li").click(function(){
    // 	$(this).addClass('active').siblings().removeClass('active');
    //     var num = $(".main-tab li").index(this);
    //     $(".con-tab .cons").eq(num).removeClass('hide').siblings().addClass('hide');
    // })
</script>
</body>
</html>