<include file="UserSupervise:head"/>
<body>
	<include file="Index:header" />
	<section class="secondary-wrap match-view-wrap blue-checkbox">
	    <li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<li class="plr20 mb20 bg-white">
        	<div class="flex-between border-b">
        		<div class="user-cehck-div">
					<input type="checkbox" value="727">
					<img class="user-list-head" src="http://thirdwx.qlogo.cn/mmopen/rAE4ILQeIS9YtibuN13DzhoS8Eao3aqHsMURMgmjqzaDURlQRQAibz5E7cI5dFmT6Z8j9SsAiapELY30eoa4ScVRwNOMf1LoOSb/132" alt="">
					<span class="user-nickname">记得牵绊的人</span>
					<span class="font26 gray-9">18020602060</span>
				</div>
        	</div>
			<div class="ptb15">
				<div class="flex-between line50 blue-4591fe">
					<div>厦门恒益网络科技有限公司</div>
				</div>
				<div class="flex-between line50 gray-9">
					<div>联系人：张恒</div>
					<div>18020602060</div>
				</div>
			</div>
		</li>
		<div style="height: 1.45rem;"></div>
	    <div class="bottom-btn">
	    	<div class="flex-start-center flex-1">
	    		<input id="checkAll" type="checkbox" />
	    		<label class="ml15 blue-4591fe" for="checkAll">全选</label>
	    	</div>
	    	
            <button id="" class="left-btn">关联公司</button>
            <button id="cancel">取消</button>
    
        </div>
	</section>

	<include file="UserSupervise:foot_access_file"/>

</body>
</html>