<include file="UserSupervise:head"/>
<style>
	.mui-indexed-list-inner img {
	    width: .28rem;
	    height: .28rem;
	    margin-right: .2rem;
	}
	.mui-indexed-list-inner .company-select-item {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
		height: .9rem;
		line-height: .9rem;
	    padding: 0 .2rem;
	    box-shadow: 0 1px 0 #eeeeee inset;
	    background-color: #ffffff;
	}
	.mui-indexed-list-inner {
		border-radius: .1rem;
	}
	.connect-member::-webkit-scrollbar{
		display: none;
	}
</style>
<body>
<section class="common-wrap fixed-page bg-none">
	<div class="list-inner border-radius-10">
        <div class="notify-connect">通知人员</div>
        <div class="connect-member" style="overflow-y: scroll;">
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
        	<div class="member-1">
        		<img class="notify-head mr25" src="{$Think.const.IMG_URL}Index_img/img1.png" alt="" />
        		<div>
        			<div class="gray-6 font28">王者荣耀</div>
        			<div class="gray-9 font26">备注：米兰达</div>
        		</div>
        	</div>
<!--        	<div style="height: .5rem;"></div>-->
        </div>
        
	</div>
	<div class="bottom-btn">
        <button id="" class="left-btn">取消</button>
        <button id="cancel">确认</button>

    </div>
</section>
<include file="UserSupervise:foot_access_file"/>
<script>
	$(function () {
		function calculateH(){
			var winH = $(document).height();
			var searchH = $('.mui-search-area').height();
			var btnH = $('.bottom-btn').height();
			$('.connect-member').css('height',winH - searchH - btnH - 95);
		}
        calculateH();
    })
</script>
</body>
</html>
