<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    p{
        margin: -3px;
        padding: 2px 20px;
        font-family: MicrosoftYaHei;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #666666;
    }
    .button-div{
        text-align: center;
        padding: 2px;
    }
    .button-div a{
        color: #fff;
        background-color: #368bfe;
        padding: 7px 25px;
        border-radius: 3px;
    }
</style>
<body>
    <div style="width: 435px">
        <p>1.双击数据即可进行修改和查看详情</p>
        <p>2.分组标签、关联公司需先勾选用户才能进行操作<br>
        <p>3.当用户手机与公司联系人手机一致时可使用匹配查看功能<br>进行快速匹配</p>
    </div>
    <div class="button-div"><a href="javascritp:;" onclick="closeDialog('dlg-tip-select')">确定</a></div>

</body>
</html>