<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
    <title>{$title}</title>
    <link href="{$Think.const.CSS_URL}mui/mui.css?v={$vesion}" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}mui/mui.indexedlist.css?v={$vesion}" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}reset.css?v={$vesion}" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}common.css?v={$vesion}" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}style.css?v={$vesion}" rel="stylesheet" />
    <script src="{$Think.const.JS_URL}jquery.min.js"></script>
</head>