<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    p{
        margin: -3px;
        padding: 2px 20px;
        font-family: MicrosoftYaHei;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #666666;
    }
    .button-div{
        text-align: center;
        padding: 2px;
    }
    .button-div a{
        color: #fff;
        background-color: #368bfe;
        padding: 7px 25px;
        border-radius: 3px;
    }
</style>
<body>
    <div style="width: 435px">
        <p>1.只有通过微信认证的微信号才能使用本功能；发送模板消息时不占用公众号规定的群发次数</p>
        <p>2.微信规定：<br>　　模板消息仅用于公众号向粉丝发送重要的服务通知；<br>　　不支持广告等营销类消息以及其他所有可能对粉丝造成骚扰的信息，<br>　　否则将受到微信的处罚</p>
        <p>3.只有关注公众号的用户，才会在模板通知的相关操作中显示</p>
        <p>4.先在微信端“模板消息”中添加模板，再点击页面中的“导入”，就可以选择模板格式了</p>
    </div>
    <div class="button-div"><a href="javascritp:;" onclick="closeDialog('dlg-tip-select')">确定</a></div>

</body>
</html>