.red-f93322 {color: #f93322;}
.blue-0099ff {color: #0099ff;}
.pr {position: relative;}
.font26{font-size: 26px;}

.flex-start {
	display: flex;
}
.flex-start-center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-end-center {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.flex-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-1 {
	flex: 1;
}
.word-hidden {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.word-keep {
	white-space: nowrap;
}
.list-style:before {
	content: '·';
}

.index-wrap {
	background-color: #f6f9fe;
}
.index-wrap .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 160px;
	height: 80px;
	width: unset;
	margin: 0 10px;
}
.index-wrap .logo img {
    height: 66px;
}
.search {
	margin-right: 70px;
}
.search input {
	width: 430px;
	height: 38px;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    outline: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search button {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background: url(../images/icon/icon-search.png) center no-repeat;
}
.sys-msg {
	width: 280px;
/*	height: 210px;*/
	padding: 10px;
	line-height: 30px;
	border: 1px solid #eeeeee;
	border-top: none;
	background-color: #fefefe;
}
.member-center {
	width: 310px;
	/*height: 180px;*/
	border: 1px solid #eeeeee;
    border-top: none;
    background-color: #fefefe;
}
.topright ul {
	width: 385px;
	height: 80px;
	padding-right: 40px;
}
.topright img {
	margin-right: 10px;
}
.topright li {
	height: 65px;
	color: #b3b3b3;
}
.topright li .expand {
	display: none;
	position: absolute;
	top: 65px;
	right: 0;
	z-index: 200000;
	color: #878787;
}
.topright li:hover {
	border: 1px solid #eeeeee;
	border-top: 2px solid #ec3750;
}
.topright li:hover .expand {
	display: block;
	position: absolute;
	top: 65px;
	right: -1px;
	z-index: 200000;
}
.topright .member-center-title {
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #f27788;
	border-radius: 5px;
	color: #ee5267;
}
.topright .member-welcome {
	width: 294px;
	height: 123px;
	line-height: 25px;
	margin: 10px auto 0;
	border-radius: 5px;
	color: #fdfdfd;
	background: url(../images/bg/bg-member-center.png) no-repeat;
}
.member-welcome img {
	width: 78px;
	height: 78px;
	border-radius: 50%;
	border: 2px solid #ffffff;
}
.member-welcome div {
	width: 150px;
}
.main-tab {
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #4591fe;
}
.main-tab .item {
    flex: 1;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #4591fe;
    background-color: #ffffff;
    box-shadow: -1px 0px 0 #4591fe;
}
.main-tab .item.active {
    color: #ffffff;
    background-color: #4591fe;
}
.major-content {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
}
.major-content .side-bar {
	color: #fbfafd;
	background-color: #0077f4;
	background-image: url(../images/bg/bg-side-bar.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 140px 215px;
	/*box-shadow: 1px -1px 5px rgba(54,139,254,.2);*/
}
.major-content .side-bar .extend-nav {
	display: none;
}
.major-content .side-bar .extend-nav a,
.major-content .side-bar .extend-nav .secondary-menu {
	position: relative;
	min-width: 100px;
	color: #2e8eff;
	line-height: 40px;
	/*margin-bottom: 10px;*/
	text-align:center;
}
.major-content .side-bar .extend-nav .secondary-menu.active:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    border-left: 5px solid #0077f4;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.major-content .side-bar .extend-nav .secondary-menu.active {
	border-radius: 5px;
	background-color: #eaf2ff;
}
.major-content .side-bar.active .extend-nav {
	display: flex;
	flex-direction: column;
	background-color: #f6f9fe;
	/*padding: 15px;*/
}
.major-content .side-bar li.active {
	width: 135px;
	border-left: 5px solid #00e9fe;
	background-color: #298cff;
}
.major-content .side-bar ul {
    width: 140px;
}
.major-content .side-bar li {
    width: 140px;
	height: 60px;
	text-align: center;
}
.side-bar img {
	margin: 0 10px 0 30px;
}

.side-bar i {
	margin-right: 10px;
}

.secondary-wrap {
	padding: 0 15px;
	background-color:#ffffff;
}
.common-title {
	line-height: 70px;
	color: #666666;
	border-bottom: 1px solid #efeff0;
}
.form-part-title {
	width: 90px;
	margin: 20px;
	font-weight: 600;
	font-size: 25px;
	color: #dfdddd;
	text-align: center;
}

.common-blue-btn {
	display: inline-block;
	width: auto;
	height: 34px;
	line-height: 34px;
	margin-right: 10px;
	padding: 0px 22px;
	color: #ffffff;
	text-align: center;
	/* border-radius: 5px; */
	background-color: #529bfd;
	margin: 0 5px;
}
.common-red-btn {
	display: inline-block;
	width: auto;
	height: 34px;
	margin-right: 10px;
	line-height: 34px;
	padding: 0 22px;
	/* color: #ffffff; */
	/* border-radius: 5px; */
	/* background-color: #e91835; */
	color: #111;
	background-color: #fff;
	border: 1px solid #d3d3d3;
}

.common-disable {
	display: inline-block;
	width: auto;
	height: 34px;
	margin-right: 10px;
	line-height: 34px;
	padding: 0 22px;
	color: #ffffff;
	/* border-radius: 5px; */
	background-color: #bfbfbf;
}

.table-blue-btn {
	display: inline-block;
	width: auto;
	height: 34px;
	line-height: 34px;
	padding: 0 22px;
	color: #ffffff;
	/* border-radius: 5px; */
	background-color: #529bfd;
}
.table-del-btn {
	/* display: inline-block;
	width: auto; */
	height: 34px;
	line-height: 34px;
	padding: 8px 22px;
	color: #111;
	/* border-radius: 5px; */
	background-color: #fff;
	border: 1px solid #d3d3d3;
}
.modal-save-btn,.modal-close-btn {
	/* display: inline-block;
	width: auto; */
	height: 34px;
	line-height: 34px;
	padding: 8px 22px;
	color: #ffffff;
	margin: 0 5px;
	/* border-radius: 5px; */
}
.modal-close-btn {
	color: #111;
	background-color: #fff;
	border: 1px solid #d3d3d3;
}
.modal-save-btn {
	background-color: #529bfd;
}
.select-style {
    width: 60px;
    height: 32px;
}
.datagrid-header-check input[type=checkbox],
.datagrid-cell-check input[type=checkbox],
.common-table input[type=checkbox] {
	content: '';
    width: 22px;
    height: 22px;
    background-image: url(../images/icon/icon-uncheck.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
}
.datagrid-header-check input[type='checkbox']:checked,
.datagrid-cell-check input[type='checkbox']:checked,
.common-table input[type=checkbox]:checked {
	content: '';
	width: 22px;
	height: 22px;
	background-image: url(../images/icon/icon-checked.png);
	background-repeat: no-repeat;
	background-size: 22px;
	background-position: center;
}
#module-content{
	margin-left: 10px;
	overflow: scroll;
	box-shadow: -1px -1px 5px rgba(54,139,254,.2);
}
#module-content::-webkit-scrollbar {
	display: none;
}
#module-content .page-selected {
	height: 45px;
	line-height: 45px;
	padding-left: 15px;
	color: #666666;
	background-color: #ffffff;
	font-weight: bold;
	border-bottom: 1px #ebecec solid;
}
#module-content .content{
	height: calc(100% - 46px);
}
.mission-content {
	display: flex;
	justify-content: flex-start;
	min-width: 1245px;
	margin-bottom: 15px;
}
.mission-content .mission {
	width: 377px;
	margin-right: 30px;
	border-radius: 12px;
	text-align: center;
	overflow: hidden;
}
.mission-content .today {
	background: url(../images/bg/bg-today.png);
	background-size: 100%;
}
.mission-content .remind {
	background: url(../images/bg/bg-remind.png);
	background-size: 100%;
}
.mission-content .delay {
	background: url(../images/bg/bg-delay.png);
	background-size: 100%;
}
.mission .total {
	height: 105px;
	line-height: 105px;
	color: #ffffff;
}
.mission .total span {
	margin-right: 10px;
	font-size: 36px;
}
.mission .title {
	height: 75px;
	line-height: 75px;
	color: #8a898a;
	font-size: 16px;
	background-color: #ffffff;
}
.total-misson {
	display: flex;
	margin-bottom: 30px;
}
.total-misson .weekly-mission,
.total-misson .month-mission {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.total-misson ul {
	display: flex;
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 15px 0;
}
.total-misson ul li {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70px;
	text-align: center;
	color: #878788;
	font-size: 14px;
}
.misson-charts {
	min-width: 1245px;
	padding: 15px 25px;
	background-color: #ffffff;
	border-radius: 10px;
}
.chart-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	padding: 0 5px;
}
.chart-title span {
	width: 6px;
	height: 23px;
	border-radius: 2px;
	margin-right: 15px;
}
.bg-f93322 {
	background-color: #f93322;
}
.bg-67b6ff {
	background-color: #67b6ff;
}
.bg-298cff {
	background-color: #298cff;
}
.total-misson ul li:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    width: 1px;
    background-color: #e0e0e0;
}
.total-misson ul li:last-child:after {
	width: 0px;
}
.info-box {
	margin: 0 15px;
	width: 260px;
	height: 160px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #f6f9fe;
}

.info-box .title {
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	background-color: #eaf2ff;
}
.box-content {
	padding: 10px;
	line-height: 35px;
}
.icon-connect {
	width: 26px;
	height: 26px;
	background: url(../images/icon/icon-connect.png);
	background-size: 100%;
}
.justified {
	width: 65px;
	text-align: justify;
}
.justified i {
	display: inline-block;
	width: 100%;
}
.ml15 {margin-left: 15px;}
.mb15 {margin-bottom: 15px;}
.wd40 {width: 40%;}

.icon-addbtn {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../images/icon/icon-add.png);
	background-size: 100%;
}
.icon-delbtn {
	display: inline-block;
	margin-left: 20px;
	width: 26px;
	height: 26px;
	background-image: url(../images/icon/icon-del.png);
	background-size: 100%;
}
.group-addition {
	width: 1080px;
}
.group-addition .action-btn {
	margin-bottom: 10px;
}
.group-addition .input-line {
	padding: 10px;
}
.group-addition .input-line label {
	word-break: keep-all;
	font-weight: normal;
}
.group-addition .input-line input[type=text] {
	height: 25px;
	border-radius: 2px;
	border: 1px solid #d2d2d2;
	padding: 5px;
	outline: none;
}
.common-table {
	min-height: 300px;
	max-height: 600px;
}
.common-table .tabel-title {
	display: flex;
	align-items: center;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #f8f6f7;
}
.table-items li {
	display: flex;
	align-items: center;
	height: 45px;
	line-height: 45px;
}
.table-items li:nth-child(odd) {
    background-color: #ffffff;
}
.table-items li:nth-child(even) {
    background-color: #fbfafa;
}
.tabel-title div{
	width: 100px;
	text-align: center;
}
.table-items li div{
	width: 100px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	
}
.tabel-title div.checkbox-space,
.table-items li div.checkbox-space {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
}
.common-table .tag,.common-table .company-detail {
	width: 200px;
}
.bottom-action-bar {
	padding: 15px 0;
}
.center-row {
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;
}
.center-row .caption {
	width: 20%;
	display: inline-block;
	text-align: right;
}
.center-row .inputbox {
	width: 50%;
	display: inline-block;
}
.chosen-container {
    width: 100%;
}
.tableForm .center-row select {
    width: 100%;
}
.center-row .inputbox input[type=text] {
	width: 97%;
	outline: none;
	height: 32px;
	padding: 0 4px;
}
.selection-title {
	height: 34px;
	line-height: 34px;
	color: #333333;
}
.help-question {
	width: 34px;
	height: 34px;
	background: url(../images/icon/icon-question.png) no-repeat center center;
	
}
.icon-behind {
	display: inline-block;
}
.no-button {
	border: none;
	outline: none;
}
.common-input-wrap {
	position: relative;
	/* margin-bottom: 10px; */
	padding: 10px 0 10px 10px;
	background-color: #f7f6f6;
}
.common-title {
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	background-color: #eeeeee;
}
.common-input-wrap img.head-img {
	position: absolute;
	top: 40px;
	left: 35px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.common-input-two {
	display: flex;
	margin-bottom: 5px;
}
.common-input-two span.label {
	display: inline-block;
	width: 12%;
	height: 34px;
	line-height: 34px;
	text-align: right;
	color: #666666;
}
.common-input-two input {
	display: inline-block;
	width: 35%;
}
.common-input-two .select-input {
	display: inline-block;
	width: 35%;
}
.select-address {
	display: inline-block;
	width: 20%;
	margin-right: 20px;
}
.common-input-two textarea {
	width: 350px;
	height: 60px;
}
.rightContainer {
	position: relative;
	display: block;
    width: 100%;
    height: 100%;
    min-width: 1100px;
    /* max-width: 1800px; */
    padding: 40px 55px 0 55px;
    text-align: left;
    background: #f6f9fe;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.modulesContainer {
	overflow: hidden;
}
.modulesContainer .modules_box {
    position: relative;
    width: 320px;
    height: 272px;
    display: inline-block;
    background: #fff;
    float: none;
    cursor: pointer;

    cursor: pointer;
    margin: 0 55px 50px 0;
    margin-right: calc((100% - 1280px)/3);
    vertical-align: top;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(152,181,229,0.37);
    -webkit-box-shadow: 0 0 6px 0 rgba(152,181,229,0.37);
    -moz-box-shadow: 0 0 6px 0 rgba(152,181,229,0.37);
    -ms-box-shadow: 0 0 6px 0 rgba(152,181,229,0.37);
    -o-box-shadow: 0 0 6px 0 rgba(152,181,229,0.37);
    float: left;
}
@media only screen and (min-width: 1450px) and (max-width: 1600px) {
	.modulesContainer .modules_box {
    	position: relative;
	    width: 280px;
		margin-right: calc((100% - 1120px)/3);
	}
}
@media only screen and (max-width: 1450px) {
	.modulesContainer .modules_box {
    	position: relative;
	    width: 250px;
		margin-right: calc((100% - 1000px)/3);
	}
}
/*@media only screen and (min-width: 1450px) {
	.modulesContainer{
    	overflow-x: scroll !important;
	}
}*/
.modulesContainer .modules_box:nth-child(4n) {
	margin-right: 0;
}
.modules-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 175px;
}
.modules-img .img-text {
	position: relative;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	font-size: 22px;
}
.new-module {
	position: absolute;
	top: -10px;
	right: -32px;
	width: 32px;
	height: 17px;
	background: url(../images/icon/icon-new.png) no-repeat;
}
.modules-img .img-text span {
	font-size: inherit;
}
.modules-img.module-msg {
	color: #636975;
	background-color: #eef9fe;
}
.modules-text {
    line-height: 53px;
    text-align: center;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    color: #8a9baf;
}
.modules-text .tips-update {
    display: inline-block;
    width: auto;
    border-radius: 8px;
    border: solid 1px #3399fe;
    padding: 2px 6px;
    font-size: 12px;
    color: #3399fe;
    vertical-align: middle;
    background-color: #fff;
    height: 12px;
    line-height: 12px;
    margin-left: 7px;
}
.link-btn {
    margin: 0;
    height: 44px;
    text-align: center;
}
.link-btn .ModuleBtn {
    width: 85px;
    height: 25px;
    background-color: #2cbb00;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
}
.link-btn .manageModuleText {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
}
.modules_box .openModuleBtn {
    position: relative;
    width: 85px;
    height: 25px;
    line-height: 23px;
    margin: 0 auto;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
    color: #0079ff;
    font-family: "微软雅黑";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid rgba(0,119,255,0.5);
    border-radius: 2px;
}
.modules_box .openModuleBtn .openModuleText {
    display: inline-block;
    color: #0079ff;
    line-height: 25px;
}
.modules_box.module-more {
    background: url(../images/bg/bg-module-more.png) no-repeat center bottom;
}
.modules_box .more-module {
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 20px;
    color: #009eff;
    padding: 140px 0 25px 0;
    background: url(../images/img/module-more.png) no-repeat center 30px;
}
.modules_box .more-subline {
	display: block;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #8a9baf;
}
.mark-tips .mark-tips-head {
	display: flex;
	align-items: center;
    height: 49px;
    line-height: 49px;
    vertical-align: middle;
    border: 0;
    margin-bottom: 0;
    text-align: left;
    color: #4e4e4e;
    font-size: 16px;
    
}
.mark-tips {
	height: 160px;
	background-color: #ffffff;
}
.mark-tips-head .portal-line {
	display: inline-block;
	width: 5px;
	height: 20px;
    margin: 0 14px 0 21px;
    border-radius: 2px;
	background-color: #087bff;
}
.mark-tips > ul {
	display: inline-block;
    width: calc(100% - 500px);
    vertical-align: top;
}
.mark-tips > ul > li {
    display: inline-block;
    width: 33%;
    text-indent: 40px;
    height: 20px;
    margin-bottom: 20px;
}
.tips-box {
    color: #8a9baf;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mark-tips .dot {
    display: inline-block;
    width: 8px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../images/icon/icon-point.png);
    background-repeat: no-repeat;
    background-position: 0 8px;

}
.mark-tips .tips-conf {
    width: 492px;
    height: 124px;
    display: inline-block;
    border-radius: 5px;
    margin: -30px auto 0;
    background-size: auto;
    background: url(../images/advertise/banner.png) no-repeat center center;
}

input[type=radio].css-checkbox {
	content: '';
	width: 20px;
	height: 20px;
	background-image: url(../images/icon/css_radio.png);
	background-repeat: no-repeat;
	background-position: 0 0px;
	outline: none;
	background-color: transparent;
	-webkit-appearance: none;
}

input[type=radio].css-checkbox:checked {
	background-position: 0 -20px;
}

.css-label{
	padding-left: 10px;
}
.bg-grey{
	background:#a8a8a8 !important;
}

.progress-line {
	position: relative;
	/* padding: .4rem 0; */
	/* border-radius: .1rem; */
}
.progress-line::before {
	height: 100%;
	content: '';
    position: absolute;
    top: 20px;
    left: calc(50% - 1px);
    width: 1px;
    border-left: 1px dashed #999999;
}
.process-list {
	position: relative;
	padding: 0;
	overflow: hidden;
}
