<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style” content=black" />
    <title>{$title}</title>
    <link href="{$Think.const.CSS_URL}mui/mui.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}reset.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" />
    <link href="{$Think.const.CSS_URL}style.css?v=4" rel="stylesheet" />
    <script src="{$Think.const.JS_URL}jquery.min.js"></script>
</head>
<body>
	<div class="my-wrap-top my-wrap-top-img custom-info-top">
        <a href="__MODULE__/User/user_header.html">
        	<img src="{$head_pic}?v={$versions}" alt="" />
        </a>
        <div>欧阳锋</div>
        <div>累计成交金额0元</div>
    </div>
    <section class="custom-info-wrap common-wrap bg-none">
    	<div class="my-wrap-center">
            <div class="nav-default">
                <a href="/User/index.html">
                    <img class="edit-info" src="/Application/EShop/Public/images/my/edit-info.png">
                    <span>编辑客户资料</span>
                </a>
                <a href="/Money.html">
                    <img class="msg-template" src="/Application/EShop/Public/images/my/msg-template.png" alt="">
                    <span>发送模板通知</span>
                </a>
                <a href="/Liuyan.html">
                    <img class="user-tel" src="/Application/EShop/Public/images/my/user-tel.png" alt="">
                    <span>拨打电话</span>
                </a>
            </div>
        </div>
    	<div class="basic-info mg-b-20">
    		<div class="title">基本资料</div>
    		<div class="info-line">
    			<div class="info-title">公司名称<i></i></div>
    			<div class="info-con">厦门红鞋子网络科技有限公司厦门红鞋子网络科技有限公司</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">职务<i></i></div>
    			<div class="info-con">总经理</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">联系电话<i></i></div>
    			<div class="info-con">18020864268</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">所在分组<i></i></div>
    			<div class="info-con">代账一组</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">客户标签<i></i></div>
    			<div class="info-con icon">
    				<span>可爱</span><span>善良</span><span>老客户</span><span>可爱</span><span>善良</span><span>老客户</span><span>可爱</span><span>善良</span><span>老客户</span><span>可爱</span><span>善良</span><span>老客户</span>
    			</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">注册时间<i></i></div>
    			<div class="info-con">2018.08.08</div>
    		</div>
    	</div>
    	<div class="basic-info">
    		<div class="title">详细资料</div>
    		<div class="info-line">
    			<div class="info-title">地址<i></i></div>
    			<div class="info-con">厦门市思明区前埔东路567号805室厦门市思明区前埔东路567号805室</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">税号<i></i></div>
    			<div class="info-con">1234567895623185</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">开户行<i></i></div>
    			<div class="info-con">中国建设银行厦门科技支行</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">电话<i></i></div>
    			<div class="info-con">0592-5968465</div>
    		</div>
    		<div class="info-line">
    			<div class="info-title">传真<i></i></div>
    			<div class="info-con">0592-5968465</div>
    		</div>
    		
    	</div>
    </section>
    <script type="text/javascript">
    	
    </script>
	
</body>
</html>
