<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        APP_PATH:{$Think.APP_PATH}
        --ROOT--:__ROOT__ 网站根目录地址   <br>
        --APP--:__APP__ 当前应用（入口文件）地址  <br> 
        --MODULE--:__MODULE__ 当前模块的URL地址   <br>
        --CONTROLLER--:__CONTROLLER__ 当前控制器的URL地址   <br>
        --ACTION--:__ACTION__ 当前操作的URL地址   <br>
        __SELF__ 当前URL地址   <br>
        {$Think.__INFO__} 当前的PATH_INFO字符串   <br>
        {$Think.__EXT__} 当前URL地址的扩展名   <br>
        MODULE_NAME:{$Think.MODULE_NAME} 当前模块名   <br>
        MODULE_PATH:{$Think.MODULE_PATH} 当前模块路径 <br>
        CONTROLLER_NAME:{$Think.CONTROLLER_NAME} 当前控制器名   <br>
        CONTROLLER_PATH:{$Think.CONTROLLER_PATH} 当前控制器路径 3.2.3新增 <br>
        ACTION_NAME: {$Think.ACTION_NAME} 当前操作名   <br>
        APP_DEBUG 是否开启调试模式   <br>
        APP_MODE 当前应用模式名称   <br>
        APP_STATUS 当前应用状态 <br>
        STORAGE_TYPE 当前存储类型 <br>
        MODULE_PATHINFO_DEPR 模块的PATHINFO分割符 <br>
        MEMORY_LIMIT_ON 系统内存统计支持   <br>
        RUNTIME_FILE 项目编译缓存文件名   <br>
        THEME_NAME 当前主题名称   <br>
        THEME_PATH:{$Think.THEME_PATH} 当前模板主题路径   <br>
        LANG_SET 当前浏览器语言   <br>
        MAGIC_QUOTES_GPC MAGIC_QUOTES_GPC 
        NOW_TIME 当前请求时间（时间戳） <br>
        REQUEST_METHOD 当前请求类型 <br>
        IS_GET 当前是否GET请求  <br>
        IS_POST 当前是否POST请求 <br>
        IS_PUT 当前是否PUT请求  <br>
        IS_DELETE 当前是否DELETE请求  <br>
        IS_AJAX 当前是否AJAX请求  <br>
        BIND_MODULE 当前绑定的模块（3.2.1新增） <br>
        BIND_CONTROLLER 当前绑定的控制器（3.2.1新增） <br>
        BIND_ACTION 当前绑定的操作（3.2.1新增） <br>
        CONF_EXT 配置文件后缀（3.2.2新增） <br>
        CONF_PARSE 配置文件解析方法（3.2.2新增） <br>
        TMPL_PATH: 用于改变全局视图目录（3.2.3新增） <br>
    </body>
</html>
