<div class="maincontainer" id="{$Think.const.CONTROLLER_NAME}-maincontainer">
<include file="./Application/Common/Layout/Default/list_header.html"  controller="SysOperationMenuRole" />
                <tr> 
                <th data-options="field:'id',hidden:true">{$Think.lang.FLD_ID}</th>  
                    <th data-options="field:'menu_id',width:120,align:'left',hidden:true">{$Think.lang.FLD_MENU_ID}</th>
<th data-options="field:'operation_id',width:120,align:'left',hidden:true">{$Think.lang.FLD_OPERATION_ID}</th>
<th data-options="field:'role_id',width:120,align:'left',hidden:true">{$Think.lang.FLD_ROLE_ID}</th>
                                    
                </tr>
<include file="./Application/Common/Layout/Default/list_footer.html"  controller="SysOperationMenuRole" />
</div>