<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .tableForm .row .caption{
            width:135px;
        }
    </style>
</head>
<body>
<form action="">
    <div class="tableForm" style="width:540px;">
        <p>系统将根据选择的角色复制生成一个新的角色，新角色与选择角色的配置完全相同。</p>
        <div class="row">
            <div class="caption"><span>选择要复制的角色：</span></div>
            <div class="inputbox">
                <select id="role_ids" name="role_ids" class="chosen-select customer-select" data-options="value:'{$model.role_ids}',all:true,search_key_url:'Organization/roleList/'">
                    <option value=""></option>
                </select>
                <input type="hidden" name="role_ids_changed" value="1">
            </div>
        </div>
        <div class="row">
            <div class="caption"><span><span style="color:#FF0000">*</span>角色名称：</span></div>
            <div class="inputbox">
                <input name="staff_name" class="easyui-validatebox validatebox-text validatebox-invalid" data-options="required:true" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" onkeyup="this.value=this.value.replace(/\s+/g,'')" value="" title="">
            </div>
        </div>
    </div>
    <div class="form-actions" id='Organization-form-actions'>
        <div class='actions-sysdefault'>
            <a href="javascript:void(0)" class="modal-save-btn btn-update" plain="true" onclick="adjustDept()">保存</a>
            <a href="javascript:void(0)" class="modal-close-btn" plain="true" onclick="closeDialog()">关闭</a>
        </div>
    </div>
</form>
</body>
</html>