<div class="detailcontainer" style="width:300px;height:150px">
    <form id="overdue-form">
        <input type="hidden" name="id" value="{$model.id}">
        <input type="hidden" name="amount" value="{$model.amount}">
        <div style="padding-bottom:15px">
            <p>冻结通知内容：</p>
            <input type="text" class="easyui-validatebox" name="content" data-options="required:true" value="" required>
        </div>
    </form>
	<div align="center">
		<a href="javascript:void(0)" class="modal-save-btn btn-update" plain="true" onclick="overdueSave()">发送</a>
		<a href="javascript:void(0)" class="modal-close-btn" plain="true" onclick="closeDialog()">关闭</a>	
	</div>
</div>
<script>
    function overdueSave() {
        var content = $("input[name='content']").val();
        if (content!="" && content!=null) {
            var data = $('#overdue-form').serialize();
            showMaskLayer();
            $.post("/WrkReceivables/overdue/id/{$model.id}",data,function(result) {
                hideMaskLayer();
                $.dialog.tips(result.message);
                if (result.code == 0) {
                    queryData3();
                    statistics();
                	closeDialog("dlg-overdue");
                }
            }, "json");
        } else {
            alert("冻结通知内容不能为空");
        }
    }
</script>