<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>部门和员工设置</title>
    <link href="/{$Think.APP_PATH}Public/vender/layer/skin/layer.css?v={$version}" rel="stylesheet" />
    <link href="/{$Think.APP_PATH}Public/mui/css/mui.poppicker.css" rel="stylesheet" />
    <link href="/{$Think.APP_PATH}Public/mui/css/mui.picker.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Application/EShop/Public/css/Organization/index.css?v={$vesion}">
    <link rel="stylesheet" href="/{$Think.APP_PATH}Public/mui/css/mui.min.css">
    <link href="{$Think.const.CSS_URL}common.css?v={$vesion}" rel="stylesheet" />
    <link rel="stylesheet" href="/{$Think.APP_PATH}Public/vender/vue-tree-2.0/vue-tree.css">
    <script>
        /*window.addEventListener('resize',remChange());
        function remChange() {
            var html = document.querySelector("html");
            var width = html.getBoundingClientRect().width;
            if( width >= 750 ){
                width = 750;
            }
            html.style.fontSize = width / 10 + 'px';
            return remChange;
        }*/
    </script>
    <style>
        body{
            font-size: 14px !important;
        }
        #object-tree{padding-left: 0}
        .bottom-line{
            position: relative!important;
        }
        .tree-folder{
            height: 40px!important;
            line-height: 40px!important;
        }
        .tree-node{
            top: 5px !important;
        }
    </style>
</head>
<body>
    <!--<div class="wrap" style="margin-top: 40px">
        <include file="Index:header" />
        <div class="content">
            <p class="directory">组织结构</p>
            <div class="dataBox" id="app">
                <tree :folder = "trees"></tree>
            </div>
        </div>
    </div>-->
    <div class="wrap" style="margin-top: 40px;overflow-y: scroll;" >
        <include file="Index:header" />
        <div class="content" style="border-radius: 5px">
            <p class="directory" style="font-size: 14px;margin-bottom: 0;height: 25px;line-height: 25px">组织结构</p>
            <ul id="object-tree" class="vue-tree">
                <vue-tree style="cursor: pointer"  :model="treeData" ></vue-tree>
            </ul>
        </div>
    </div>
    <script src="__ROOT__/{$Think.MODULE_PATH}/Public/vue/vue.min.js"></script>
    <script src="/{$Think.APP_PATH}Public/vender/vue-tree-2.0/vue-tree.js"></script>
    <script src="/{$Think.APP_PATH}Public/jquery/jquery.min.js"></script>
    <script src="/{$Think.APP_PATH}Public/mui/js/mui.min.js"></script>
    <script src="/{$Think.APP_PATH}Public/mui/js/mui.picker.js"></script>
    <script src="/{$Think.APP_PATH}Public/mui/js/mui.poppicker.js"></script>
    <script src="/{$Think.APP_PATH}Public/vender/layer/layer.js"></script>
    <script type="text/javascript">

        buildVueTree("vue_tree");
        var vue_tree = new Vue({
            el: "#object-tree",
            data: {
                treeData: [],
                current:Object,
                mountedCount:0,
                totalCount:0,
            },
            methods:{
                child_mounted:function(){
                    //$(".item-0 .tree-node-edit").hide();
                    $(".bottom-line").last().hide();
                },
                select:function(item){
                    //编辑  picker（选择器）
                    var picker = new mui.PopPicker();
                    if(item.parent_id == 1){
                        picker.setData([
                            {value:'cc',text:'添加部门'}
                        ]);
                    }else if(item.parent_id != undefined){
                        picker.setData([
                            {value:'aa',text:'删除当前部门'},
                            {value:'bb',text:'修改部门名称'},
                            {value:'cc',text:'添加部门'},
                            {value:'dd',text:'置顶部门'}
                        ]);
                    }else{
                        picker.setData([
                            {value:'',text:'当前选择无法编辑'}
                        ]);
                    }
                    picker.show(function (selectItems) {
                        if(selectItems[0].text=="删除当前部门"){
                            var flag=item.children.length?true:false;
                            deleteDept(item);
                        }else if(selectItems[0].text=="修改部门名称"){
                            editDept(item);
                        }else if(selectItems[0].text=="添加部门"){
                            addDept(item);
                        }else if(selectItems[0].text=="置顶部门"){
                            stickDept(item);
                        }
                    });
                    function deleteDept(item){
                        var str='';
                        if (item.children.length > 0){
                            str='您确定要删除当前部门及其子部门吗？'
                        }else{
                            str='确定要删除当前部门吗？'
                        }
                        var me=layer.open({
                            title:'删除部门',
                            type:1,
                            area: ['90%', '170px'],
                            shadeClose: true, //点击遮罩关闭
                            content: `\<\div class="labelBox" style="text-align:center;padding-top:30px;">
                            ${str}
                        \<\/div>`,
                            btn: ['确定', '取消'],
                            yes:function(){
                                layer.close(me);
                                $.post("/Organization/deleteDept",{id:item.id},function(result){
                                    if(result.code == 0){
                                        getDeptList();
                                        layer.close(me);
                                    }
                                    layer.msg(result.message);
                                },'json')
                            }
                        });

                    }
                    function editDept(item){
                        var editDept = layer.open({
                            title:'编辑部门名称',
                            type:1,
                            area: ['90%', '200px'],
                            shadeClose: true, //点击遮罩关闭
                            content: `<div class="labelBox">
                            <p style="width: 90%">
                                <label for="">
                                    <span class="star">部门名称：</span>
                                    <input type="text" placeholder="`+item.text+`" name="name" style="width:70%">
                                </label>
                            </p>
                        \<\/div>`,
                            btn: ['保存', '取消'],
                            yes:function(){
                                $.post("/Organization/editDept",{id:item.id,name:$("input[name='name']").val()},function(result){
                                    if(result.code == 0){
                                        getDeptList();
                                        layer.close(editDept);
                                    }
                                    layer.msg(result.message);
                                },'json')
                            }
                        });
                    }
                    function addDept(item){
                        var addDept = layer.open({
                            title:'添加部门',
                            type:1,
                            area: ['90%', '290px'],
                            shadeClose: true, //点击遮罩关闭
                            content: `<div class="labelBox">
                            <p style="width: 90%">
                                <label for="">
                                    <span class="star">上级部门：</span>
                                    <input type="text" value="`+item.text+`" readonly="true" style="background:rgb(221, 221, 221);">
                                    <input type="hidden" value="`+item.id+`" name="dept_id">
                                </label>
                            </p>
                            <p style="width: 90%">
                                <label for="">
                                    <span class="star">部门名称：</span>
                                    <!--<input type="text" placeholder="请输入部门名称" name="name" >-->
                                    <input type="text"  placeholder="请输入部门名称" name="name">
                                </label>
                            </p>
                        \<\/div>`,
                            btn: ['保存', '取消'],
                            /*success:function(){
                                $('body').css({'overflow-y':'hidden','height':'100%','position':'fixed'});
                                document.body.addEventListener('touchmove',function (event) { event.preventDefault() }, {passive: false});
                            },*/
                            yes: function(){
                                $.post("/Organization/addDept",{dept_id:$("input[name='dept_id']").val(),name:$("input[name='name']").val()},function(result){
                                    if(result.code == 0){
                                        getDeptList();

                                        /*$(".item-"+result.id+" .tree-node-edit").css("display","block");
                                        $(".item-"+result.id+" .tree-node-edit").show();*/
                                        layer.close(addDept);
                                        //vue_tree.addDeptShow(result.id);
                                    }
                                    layer.msg(result.message);
                                },'json')
                            },
                            /*end:function(){
                                document.body.removeEventListener('touchmove',function (event) { event.preventDefault() }, {passive: false});
                                $('body').css({'overflow-y':'initial','height':'','position':''});
                            }*/
                        });
                    }
                    function stickDept(item){
                        var stickDept = layer.open({
                            title:'置顶部门',
                            type:1,
                            area: ['90%', '200px'],
                            shadeClose: true, //点击遮罩关闭
                            content: `\<\div class="labelBox" style="text-align:center;padding-top:30px;">
                            确认置顶该部门？
                        \<\/div>`,
                            btn: ['确定', '取消'],
                            yes: function(){
                                $.post("/Organization/stickDept",{id:item.id,},function(result){
                                    if(result.error == 0){
                                        getDeptList();
                                        layer.close(stickDept);
                                    }
                                    layer.msg(result.message);
                                },'json')
                            }
                        });
                    }
                },
                click:function(item){
                    if(item.id != "" && item.id != undefined){
                        window.location.href="department/id/"+item.id;
                    }else if(item.id != undefined){
                        window.location.href="department/id/";
                    }
                }
            }
        });

        $(function(){
            getDeptList();
        });

        function getDeptList() {
            $.post("/Organization/DeptList",function(result){
                result[0]['name'] = result[0]['text'] + "("+result[0]['user_count']+")";
                vue_tree.treeData = result[0];
                vue_tree.totalCount = result[0].children.length;
                getCount(result[0].children);
            },'json')
        }

        function getCount(data){
            for(var i in data){
                vue_tree.totalCount += data[i].children.length;
                if(data[i].children.length>0){
                    getCount(data[i].children);
                }
            }
        }

    </script>
</body>
</html>