<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            .grey{
                background: grey;
            }
            .triangle{
                position: relative;
                width:15px;
                height:10px;
                left:3px;
                transition: transform .5s;
            }
            .triangle.active{
                transform:  rotate(180deg);
            }
            .readonly{
                background-color: rgb(221, 221, 221) !important;
            }
        </style>
    </head>
    <body>
        <div class="details-wrap">
            <div style="overflow-y:scroll;height:500px;padding-right: 10px">
                <form id="InvoicePlan-dataform">
                <div class="details-section">
                    <div class="details-content">
                        <p class="black">
                            <span class="txt">合同信息</span>
                            <input type="hidden" name="id" value="{$agreement.id}">
                        </p>
                        <table class="search-table">
                            <tbody>
                                <tr>
                                    <th  class="width120">合同名称：</th>
                                    <td>
                                        <input name="agreement_name" class="easyui-validatebox readonly" readonly="true" value="{$agreement.name}">
                                    </td>
                                    <th class="width120">合同金额：</th>
                                    <td>
                                        <input name="agreement_money" class="easyui-validatebox readonly" readonly="true" value="{$agreement.agreement_money}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="search-table">
                            <tbody>
                                <tr>
                                    <th  class="width120">合同编号：</th>
                                    <td>
                                        <input name="" class="easyui-validatebox readonly" readonly="true" value="{$agreement.agreement_sn}">
                                    </td>
                                    <th class="width120">合同日期：</th>
                                    <td>
                                        <input name=""  class="easyui-validatebox readonly" readonly="true" value="{$agreement.time}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="edit_div">
                    <div class="details-section">
                        <div class="details-content">
                            <p class="black">
                                <span class="txt">开票列表</span>
                            </p>
                            <div class="table-addInfo clearFix">
                                <div style="margin-bottom: 10px">
                                    <!--<a href="javascript:void(0)" class="common-blue-btn notshow" onclick="invoiceApply(this)">申请开票</a>-->
                                </div>
                                <table class="c-table  fl" border="1" bordercolor="#ccc" border-collaspe="collaspe" style="margin-left: 35px">
                                    <thead>
                                    <tr>
                                        <th>开票日期</th>
                                        <th>发票编号</th>
                                        <th>发票金额</th>
                                        <th>发票类型</th>
                                        <th>发票签收人</th>
                                        <th>发票状态</th>
                                        <th>备注附件</th>
                                    </thead>
                                    <tbody id="customer_record_table">
                                        <tr v-for="item in invoice_record">
                                            <template v-if="item.state == '作废'">
                                                <td>{{item.invoice_day}}</td>
                                                <td style="color: red">{{item.invoice_id}}</td>
                                                <td style="color: red">{{item.invoice_sum}}</td>
                                                <td>{{item.invoice_type}}</td>
                                                <td>{{item.confirm_man}}</td>
                                                <td style="color: red">{{item.state}}</td>
                                            </template>
                                            <template v-else>
                                                <td>{{item.invoice_day}}</td>
                                                <td>{{item.invoice_id}}</td>
                                                <td>{{item.invoice_sum}}</td>
                                                <td>{{item.invoice_type}}</td>
                                                <template v-if="item.confirm_man == '0'">
                                                    <td><a href="javascript:void(0)" class="common-blue-btn" @click="confirm_invoice(item.id)">签收</a></td>
                                                </template>
                                                <template v-else>
                                                    <td>{{item.confirm_man}}</td>
                                                </template>
                                                <td>{{item.state}}</td>
                                            </template>
                                            <td>
                                                <a href='javascript:void(0)' class='common-blue-btn' onclick='showRecordAttach(this)' :data-group="item.wip_attach_group">查看</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="form-actions" id="InvoicePlan-form-actions">
            <div class="actions-sysdefault">
                <a href="javascript:void(0)" class="modal-close-btn" plain="true" onclick="closeDialog()">关闭</a>
            </div>
        </div>
        <script src="/{$Think.MODULE_PATH}Public/vue/vue.min.js"></script>
        <script>
            var customerInvoiceVue = new Vue({
            	el:"#customer_record_table",
            	data:{
            		invoice_record:[]
            	}
            });

            function confirm_invoice(id){
                $.dialog.confirm("是否确认签收",function(){
                    $.post("ComAgreement/confirmInvoice",{id:id},function(result){
                        $.dialog.tips(result.message);
                        if(result.error == 0){
                            getInvoiceRecord();
                        }
                    },'json')
                })
            }
        </script>
    <script>

        $(function(){
            //获取开票记录
            getInvoiceRecord();
        });

        //获取开票记录
        function getInvoiceRecord(){
            $.post("ComAgreement/getInvoiceRecord",{id:$("input[name='id']").val()},function(result){
                customerInvoiceVue.invoice_record = result;
            },'json');
        }

        function invoiceApply(obj){
            if(!$(obj).hasClass("grey")){
                $(obj).addClass("grey");
                var id = $("input[name='id']").val();
                $.post("ComAgreement/invoice",{id:id},function(result){
                    $(obj).removeClass("grey");
                    if(result.code == 1){
                        createDialog("ComAgreement/invoiceApply/id/"+id,"开票申请","invoiceApply");
                    }else{
                        $.dialog.alert(result.message);
                    }
                },'json')

            }
        }

        function uploadPlanAttach(obj){
            if(!$(obj).hasClass("grey")){
                var attach_group = $("input[name='attach_group']").val();
                openAttachmentForm("上传附件",[{text:"类型1",attach_group:attach_group}],function(){})
            }
        }

        //开票记录查看附件
        function showRecordAttach(obj){
            var attach_group = $(obj).data("group");
            openAttachmentForm("查看备注附件",[{text:"类型1",attach_group:attach_group}],function(){
            })
        }

    </script>
    </body>
</html>

