/*公共样式input背景颜色灰色设置*/
.form-color-gray input[type=text],.form-color-gray input[type=number],.form-color-gray input[type=password],.form-color-gray input[type=tel] {float: none; background-color: #e4e4e4;height: 0.75rem;padding: 0.15rem 0;border-radius: 0.1rem;}
.form-color-gray input[placeholder] {padding-left: 5% !important;}

/*登录*/


/*用户***********/


/*服务商***********/
/*账户管理表单样式*/
input {font-size: 1.25rem;}
.input-group-style { padding-left: .25rem;background-color: #ffffff;}
.input-row-style {position: relative;border-bottom: 1px solid #e4e4e4;padding: 0;}
.input-row-style:last-child {border-bottom-width: 0;}
.input-row-style label {display: inline-block;width: 25%;line-height: 0.85rem;font-weight: normal;margin-bottom: 0;padding: 0;}
.input-row-style input {display: inline-block;width: 72%;margin-bottom: 0;border: none;}
.identity {margin-top: 4.58rem;width: 100%;text-align: center;line-height: 3.75rem;}
.identity-active {color: #ff840b;border-bottom: 2px solid #ff840b;}
.identity div {float: left;width: 50%;height: 3.75rem;background-color: #ffffff;}
.form-btn-style {width: 100%;text-align: center;padding: 0.25rem;}
.form-btn-style button {width: 100%;height: .85rem;margin: 0 auto;padding: 0;font-size: .3rem;background-color: #ff840b;color: #FFFFFF;border: none;}
.change-btn {position: absolute;width: 1.5rem;height: 0.65rem;text-align: center;line-height: 0.65rem;right: .2rem;top: 50%;transform: translateY(-50%);color: #1a75ff;border: 1px solid #ffffff;border-radius: 0.1rem;background-color: #ffffff;}