<include file="UserSupervise:head" />
<link href="/{$Think.APP_PATH}Public/mui/css/mui.picker.min.css" rel="stylesheet" />
<link href="/{$Think.MODULE_PATH}Public/css/listSearch.css" rel="stylesheet" />
<style>
    .modal input[type='text'] {
        margin: 0 0;
        padding: 0 .1rem;
        border: 1px solid #e9e9e9;
    }

    #empty {
        padding: 10%;
        text-align: center;
        background-color: #ffffff
    }

    .del {
        margin-right: .2rem;
        height: .75rem;
        color: red;
        border: 1px solid red;
    }

    html,
    body {
        position: relative;
        height: 100%;
        min-height: 100%;
    }

    .mui-bar {
        position: fixed !important;
    }

    .item-wrap {
        overflow: auto;
        width: 100% !important;
    }

    .item-container {
        float: left;
        margin: 0 auto;
        width: 100%;
        overflow: auto;
    }

    .item-container li {
        float: left;
        overflow: hidden;
        width: 100%;
    }

    .item-wrap::-webkit-scrollbar {
        /*隐藏滚轮*/
        display: none;
    }
    .icon-company{
        width: 0.3rem;
        height: 0.3rem;
        background-size: 100% 100%;
        background-image: url("/{$Think.MODULE_PATH}Public/images/icon/icon-company.png");
        margin-right: 0.18rem;
    }
</style>

<body>
    <include file="Index:header" />
    <div id="list-header">
        <!-- tab分栏 -->
        <if condition="$type eq 1">
            <div class="wrk-tab">
                <div class="wrk-tab-item wrk-tab-item-active" data-value="">全部</div>
                <div class="wrk-tab-item" data-value="2">逾期</div>
                <div class="wrk-tab-item" data-value="0">未开</div>
                <div class="wrk-tab-item" data-value="1">已开</div>
            </div>
        <else/>
            <div class="wrk-tab">
                <div class="wrk-tab-item wrk-tab-item-active" data-value="">全部</div>
                <div class="wrk-tab-item" data-value="0">未结束</div>
                <div class="wrk-tab-item" data-value="1">已结束</div>
            </div>
        </if>
        <!-- 搜索 -->
        <div class="search-fixed">
            <div class="mui-search-area" style="width: calc(100% - 0.4rem);margin: 0rem 0.2rem;">
                <input class="mui-search-area-input mui-input-clear" name="keyword" type="text" id="search1" placeholder="请输入公司名称或合同名称搜索">
                <button id="search"></button>
            </div>
            <div class="search-fixed-time">
                <div class="search-label">查看时间</div>
                <select class="search-select" name="" id="search-select-time">
                    <option value="" checked>全部</option>
                    <option value="2">本周</option>
                    <option value="3">本月</option>
                    <option value="4">本年</option>
                    <option value="0">自定义</option>
                </select>
            </div>
            <!-- zdy -->
            <div class="search-zdy" style="display:none;">
                <div style="flex:1;height: 0.95rem;">
                    <div class="search-label">开始时间</div>
                    <input id="search-zdy-start" type="text" value="" onclick="zdyTimeStart()" placeholder="请选择时间" readonly>
                </div>
                <div style="flex:1;height: 0.95rem;">
                    <div class="search-label">结束时间</div>
                    <input id="search-zdy-end" type="text" value="" onclick="zdyTimeEnd()" placeholder="请选择时间" readonly>
                </div>
            </div>
        </div>
    </div>
    <!-- 列表 -->
    <section class="common-wrap bg-none">
        <div id="list-box" style="margin-top: 3.73rem;margin-bottom: 10%">
            <div class="mui-content" id="main-content">
                <div class="item-wrap">
                    <ul class="item-container">
                        <li v-for="(item,index) in invoice_list" :id="item.item_id" style="margin-bottom:0.19rem;border-radius: 0.04rem;">

                            <if condition="$menuList['WrkInvoicePlan']['menu_actions']['detail'] eq 1 and $menuList['WrkInvoicePlan']['allow'] eq 1">
                                <div class="list-card" :id="item.id" @click="toDetail(item)">
                            <else />
                                <div class="list-card" :id="item.id" onclick="mui.alert('无此功能操作权限')">
                            </if>
                                    <div class="list-card-companyName"><i class="icon-company"></i><span style="font-size: 0.3rem;color: #666666;">{{item.company_name}}</span></div>
                                    <div class="list-card-info">
                                        <if condition="$type eq 1">
                                            <div class="list-card-info-item">
                                                <div class="list-card-info-title">计划开票金额</div>
                                                <div style="color: #666666;">￥{{item.plan_money}}</div>
                                            </div>
                                            <div class="list-card-info-item">
                                                <div class="list-card-info-title">计划开票日期</div>
                                                <div style="color: #666666;">{{item.plan_day_fmt}}</div>
                                            </div>
                                        <else />
                                            <div class="list-card-info-item">
                                                <div class="list-card-info-title">合同金额</div>
                                                <div style="color: #666666;">￥{{item.agreement_money}}</div>
                                            </div>
                                            <div class="list-card-info-item">
                                                <div class="list-card-info-title">已开票金额</div>
                                                <div style="color: #666666;">￥{{item.amount_paid}}</div>
                                            </div>
                                        </if>
                                    </div>
                                    <div class="list-card-time">
                                        <div>合同名称：{{item.name}}</div>
                                    </div>
                                    <div class="list-card-state">{{item.state_value}}</div>
                                </div>
                    </li>
                </ul>
                <div class="blue-checkbox mb15" v-if="invoice_list.length == 0" id="empty">
                    <p style="color:#808080"> 没有数据</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <include file="UserSupervise:foot_access_file" />

    <script src="/{$Think.const.MODULE_PATH}/Public/js/jquery.min.js"></script>
    <script src="/{$Think.const.MODULE_PATH}/Public/vue/vue.min.js"></script>
    <script src="/{$Think.const.MODULE_PATH}/Public/js/common.js"></script>
    <script src="/{$Think.APP_PATH}Public/mui/js/mui.picker.min.js"></script>

    <script type="text/javascript">
        mui.init();
        var invoiceVue = new Vue({
            el: "#main-content",
            data: {
                invoice_list: []
            },
            methods: {
                onItemTap: function (item) {
                    console.log(item);
                },
                toDetail: function (item) {
                    if ("{$type}" == 1) {
                        var url = "__MODULE__/WrkInvoicePlan/detail/id/" + item.id + "/plan_id/" + item.plan_id;
                    } else {
                        var url = "__MODULE__/WrkInvoicePlan/detail/plan_id/" + item.id;
                    }
                    window.open(url, '_self')
                }
            }
        });

        var invoiceListFunctions = {
            queryData: function ($target, page,query) {
                var keyword = $("input[name='keyword']").val();
                var state = $(".wrk-tab-item-active").data("value");
                var timeType = $("#search-select-time").data("time_type");
                var zdyTimeStart = $("#search-zdy-start").attr("qdr-value");
                var zdyTimeEnd = $("#search-zdy-end").attr("qdr-value");
                $.post("/WrkInvoicePlan/list", { page: page, keyword: keyword, state: state, type: "{$type}",
                    zdyTimeStart:zdyTimeStart,zdyTimeEnd:zdyTimeEnd,timeType:timeType }, function (result) {
                    if(query == 1){
                        invoiceVue.invoice_list = [];
                        $(".item-wrap").scrollTop(0);
                    }
                    invoiceVue.invoice_list = invoiceVue.invoice_list.concat(result.list);
                    $target.data("loading", false);
                }, 'json');
            }
        };

        pullRefresh(".item-wrap", ".item-container", function ($target, page) {
            invoiceListFunctions.queryData($target,page,0)
        });

        $('#search').on("click", function () {
            invoiceListFunctions.queryData($(".item-wrap"), 1,1);
        });

        function del() {
            var checked = $("input:checked");
            var data = new Array();
            for (var i = 0; i < checked.length; i++) {
                data[i] = checked[i].getAttribute("data-id");
            }
            $.ajax({
                url: "del",
                data: { "data": data },
                // dataType:'json',
                success: function (result) {
                    layer.msg("删除成功！");
                    $("#add-good").hide();
                    checked.parent().remove();
                },
                error: function (result) {
                    layer.msg("删除错误！");
                    $("#add-good").hide();
                }
            })
        }

        $(function(){
            $("#search-select-time").val($("#search-select-time option").eq(0).val());
        });

        var checkedAll = 0;
        $("#toggleChecked").click(function () {
            var checkElements = document.getElementsByName("check");
            if (checkedAll == 0) {
                for (var i = 0; i < checkElements.length; i++) {
                    var checkElement = checkElements[i];
                    checkElement.checked = "checked";
                    $("#toggleChecked").html("反选");
                    checkedAll = 1;
                }
            } else {
                for (var i = 0; i < checkElements.length; i++) {
                    var checkElement = checkElements[i];
                    checkElement.checked = null;
                    $("#toggleChecked").html("全选");
                    checkedAll = 0;
                }
            }
        });

        var winHeight = $(window).height();
        $(window).resize(function () {
            var thisHeight = $(this).height();
            if (winHeight - thisHeight > 140) {
                $('.footer').css('position', 'static');
                $('.item-wrap').css('padding-bottom', '0');
                $(".footer").hide();
            } else {
                $('.footer').css({ 'position': 'fixed' });
                $('.item-wrap').css('padding-bottom', '10%');
                $(".footer").show();
            }
        });

        // tab切换
        $(".wrk-tab .wrk-tab-item").on("click", function () {
            if (!$(this).hasClass("wrk-tab-item-active")) {
                if($(this).data("value") == 2){
                    $("#search-select-time").attr("disabled","disabled");
                }else{
                    $("#search-select-time").removeAttr("disabled");
                }
                $(this).addClass("wrk-tab-item-active");
                $(this).siblings(".wrk-tab-item").removeClass("wrk-tab-item-active");
                invoiceListFunctions.queryData($(".item-wrap"), 1,1);
                resetPullRefresh($(".item-wrap"));
            }
        });

        // select
        $("#search-select-time").on("change",function(){
            $("#search-select-time").data("time_type",this.value);
            if(this.value == "0"){
                $(".search-zdy").show();
            }else{
                $(".search-zdy").hide();
                invoiceListFunctions.queryData($(".item-wrap"),1,1);
                resetPullRefresh($(".item-wrap"));
            }
            autoHeight();
        });

        // autoHeight
        function autoHeight(){
            $("#list-box").css("margin-top",$("#list-header").height() + $("#header").height());
        }
        
        //dtPicker
        var dtPickerStart = new mui.DtPicker({"type":"date"});
        var dtPickerEnd = new mui.DtPicker({"type":"date"});
        function zdyTimeStart(){
            if($(".wrk-tab-item-active").data("value") == 2){
                layer.msg("查看逾期状态无法选择时间！");
                return false;
            }
            dtPickerStart.show(function (selectItems) {
                var zdyTimeStart = new Date(selectItems.value + " 00:00:00:000").getTime()/1000;
                $("#search-zdy-start").attr("value",selectItems.value).attr("qdr-value",zdyTimeStart);
                $("#search-zdy-end").attr("value",selectItems.value).attr("qdr-value",zdyTimeStart+86399);
                invoiceListFunctions.queryData($(".item-wrap"), 1,1);
                resetPullRefresh($(".item-wrap"));
            })
        }

        function zdyTimeEnd(){
            if($(".wrk-tab-item-active").data("value") == 2){
                layer.msg("查看逾期状态无法选择时间！");
                return false;
            }
            dtPickerEnd.show(function (selectItems) {
                var zdyTimeStart = $("#search-zdy-start").attr("qdr-value");
                var zdyTimeEnd = new Date(selectItems.value + " 00:00:00:000").getTime()/1000;
                if(zdyTimeEnd < zdyTimeStart){
                    layer.msg("结束时间不能早于开始时间！");
                    return false;
                }
                $("#search-zdy-end").attr("value",selectItems.value).attr("qdr-value",zdyTimeEnd+86399);
                invoiceListFunctions.queryData($(".item-wrap"), 1,1);
                resetPullRefresh($(".item-wrap"));
            })
        }
    </script>
</body>

</html>